/* 1. Import only the necessary Bootstrap files */
@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";

/* 2. Declare any custom changes to the variables in the Bootstrap files, e.g. */
// $font-size-base: 8;

/* 3. Import the main Bootstrap .scss file to set the changes declared above */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

/* 4. Write any additional @mixin or @extend customisations here
      Write new custom classes, which must be based on existing classes */

// Formio component label: "Number with Tolerance"
.specification-label {
  @extend .text-right;
  @extend .small;
  color: #777;

  .specification-warning {
    color: red;
  }
}

// Formio component display: "Component UUID"
div.componentuuid {
  display: flex;

  .main-input {
    flex: 1 1 auto;
  }

  .runQRCameraModal {
    @extend .btn;
    @extend .btn-secondary;
    @extend .btn-sm;
  }

  .uuid-link {
    display: none;
    flex: 0 0 auto;
    padding: 5px;
    @extend .align-middle;
  }
}

// Formio component text: "Component UUID"
.componentuuid-info {
  @extend .text-right;
  @extend .small;
  color: #00F;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

// Formio component display: "Action ID"
div.actionid {
  display: flex;

  .main-input {
    flex: 1 1 auto;
  }

  .actionid-link {
    display: none;
    flex: 0 0 auto;
    padding: 5px;
    @extend .align-middle;
  }
}

// Formio component text: "Action ID"
.actionid-info {
  @extend .text-right;
  @extend .small;
  color: #00F;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

// Formio component display: "Workflow ID"
div.workflowid {
  display: flex;

  .main-input {
    flex: 1 1 auto;
  }

  .workflowid-link {
    display: none;
    flex: 0 0 auto;
    padding: 5px;
    @extend .align-middle;
  }
}

// Formio component text: "Workflow ID"
.workflowid-info {
  @extend .text-right;
  @extend .small;
  color: #00F;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}