html {
  font-size: 14px;
}

.hidden {
  display:none;
}


.workstep-img {
	max-height: 90vh;
}

/* collapsible chevron */
.foldable-heading {
	cursor: pointer;
}
.foldable-heading .chevron:after {
    content: "\f078";   
}
.foldable-heading.collapsed .chevron:after {
    content: "\f054"; 
}  

.datagrid-table td {
	min-width: 6em;
}

.fixed-width-textarea {
	font-family: 'Inconsolata', monospace;
}

img.icon{
  width: 40px;
  max-height:40px;
  height:auto;
}

img.small-icon {
  height:1em;
  width:auto;
}
