extend template_editTypeForm

block vars
  - const page_title = 'Edit Action Type Form';

block content_header
  p.h2 Edit Action Type Form

block metaschema
  script(src = '/pages/action_editTypeForm.js')
