extend default
include common.pug

block vars
  - const page_title = 'Component QR Codes';

block allbody
  div.vert-space-x2.hori-space-x1.noprint
    a.btn.btn-primary(onclick = 'window.print(); return false;' href = '#print') Print QR Codes

    div.vert-space-x1
      p For best display, please print <strong>without headers and footers</strong>, <strong>without backgrounds</strong> and <strong>with no top and bottom margins</strong>.

  div.vert-space-x2
    hr

  div.vert-space-x2
    .container.fluid
      - const qrCodeText = `${base_url}/c/${component.shortUuid.toString()}`;
      - const qrCodeDesc = component.data.name;

      .row.qr-row
        .col-sm-6.qr-col
          +qr-panel(qrCodeText, qrCodeDesc)

        .col-sm-6.qr-col
          +qr-panel(qrCodeText, qrCodeDesc)

      .row.qr-row
        .col-sm-6.qr-col
          +qr-panel(qrCodeText, qrCodeDesc)

        .col-sm-6.qr-col
          +qr-panel(qrCodeText, qrCodeDesc)

      .row.qr-row
        .col-sm-6.qr-col
          +qr-panel(qrCodeText, qrCodeDesc)

        .col-sm-6.qr-col
          +qr-panel(qrCodeText, qrCodeDesc)

  div.vert-space-x2
