extend default
include common.pug

block vars
  - var page_title = "Component QR Codes";

block allbody
  div.vert-space-x2.form-inline.noprint
    div.hori-space-x1
      a.btn.btn-primary(onclick = "window.print(); return false;" href = '#print') Print QR Codes
  
  div.vert-space-x2(style = 'clear: both;')
    .container
      .row.qr-row
        div.col-sm-6(style = "border: 1px solid #EEE")
          +qr-panel(base_url + '/c/' + component.shortUuid.toString(), component.data.name)
        
        div.col-sm-6(style = "border: 1px solid #EEE")
          +qr-panel(base_url + '/c/' + component.shortUuid.toString(), component.data.name)
      
      .row.qr-row
        div.col-sm-6(style = "border: 1px solid #EEE")
          +qr-panel(base_url + '/c/' + component.shortUuid.toString(), component.data.name)
        
        div.col-sm-6(style = "border: 1px solid #EEE")
          +qr-panel(base_url + '/c/' + component.shortUuid.toString(), component.data.name)
      
      .row.qr-row
        div.col-sm-6(style = "border: 1px solid #EEE")
          +qr-panel(base_url + '/c/' + component.shortUuid.toString(), component.data.name)
        
        div.col-sm-6(style = "border: 1px solid #EEE")
          +qr-panel(base_url + '/c/' + component.shortUuid.toString(), component.data.name)
  
  div.vert-space-x2
