extend default
include common.pug

block vars
  - const page_title = 'Component QR Codes';

block allbody
  .vert-space-x2.hori-space-x1.noprint
    a.btn.btn-primary(onclick = 'window.print(); return false;' href = '#print') Print QR Codes

    .vert-space-x1
      p For best display, please print <b>without headers and footers</b>, <b>without backgrounds</b> and <b>with no top and bottom margins</b>.

  .vert-space-x2
    hr

  .vert-space-x2
    .container.fluid
      - const qrCodeText = `${base_url}/c/${component.shortUuid.toString()}`;
      - const qrCodeDesc = component.data.name;

      .row.qr-row
        .col-sm-6.qr-col
          +qr-panel-noText(qrCodeText, qrCodeDesc)

        .col-sm-6.qr-col
          +qr-panel-noText(qrCodeText, qrCodeDesc)

      .row.qr-row
        .col-sm-6.qr-col
          +qr-panel-noText(qrCodeText, qrCodeDesc)

        .col-sm-6.qr-col
          +qr-panel-noText(qrCodeText, qrCodeDesc)

      .row.qr-row
        .col-sm-6.qr-col
          +qr-panel-noText(qrCodeText, qrCodeDesc)

        .col-sm-6.qr-col
          +qr-panel-noText(qrCodeText, qrCodeDesc)

  .vert-space-x2
