doctype html

head
  block pugscripts
  
  block vars
  
  title #{page_title || 'APA Construction Database'}
  
  <meta charset = "utf-8">
  <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
  <meta name = "viewport" content = "width = device-width, initial-scale = 1, shrink-to-fit = no">
  
  link(rel = 'icon',       href = '/images/browser_icon.png', type = 'image/png')
  link(rel = 'stylesheet', href = '/css/dashboard.css')
  link(rel = 'stylesheet', href = '/css/custom.scss')
  link(rel = 'stylesheet', href = '/dist/formiojs/formio.full.min.css')
  link(rel = 'stylesheet', href = '/css/main.css')
  link(rel = 'stylesheet', href = '/css/AnnotationCanvas.css')
  link(rel = 'stylesheet', href = '/css/component.css')
  link(rel = 'stylesheet', href = '/css/component_qrCodes.css')
  link(rel = 'stylesheet', href = '/css/component_summary.css')
  link(rel = 'stylesheet', href = '/css/test_run_multiComponent.css')
  link(rel = 'preload',    href = 'https://fonts.googleapis.com/css2?family=Inconsolata&family=Palanquin&display=swap', as = 'style')
  link(rel = 'stylesheet', href = 'https://fonts.googleapis.com/css2?family=Inconsolata&family=Palanquin&display=swap')

  // Perform the 'jquery' early, since it's used in lots of scripts, possibly defined in body
  script(src = '/dist/jquery/jquery.min.js')

mixin navlink
  if(attributes.href == route)
    a.nav-link.active&attributes(attributes)
      block
  else
    a.nav-link&attributes(attributes)
      block

block layoutDefinitions
// - sidebar = "inactive"    // Comment this back in to disable the sidebar
//                           // Alternatively, pass {sidebar:inactive} to pug

body(class = `deployment-${NODE_ENV}`)
  block allbody
    block navbar
      nav.navbar.navbar-dark.bg-dark.flex-nowrap.p-0.shadow
        
        button#sidebarCollapse.btn-btn-info(type = "button")
          i.fa.fa-align-left
        
        a.navbar-brand.col-sm-3.col-md-2.mr-0.align-middle#navbar-brand(href = '/')
          span.pagename.text-capitalize #{NODE_ENV}
          
          div.pull-right(style = "height: 1.3em; display: inline-block")
            img(src = "/images/noun_cave_1842206.svg", style = "height: 100%; width: auto; fill: black;")
        
        input.form-control.form-control-dark#navbar-search(type = 'search' placeholder = 'Search ...' aria-label = 'Search')
        
        if locals.user
          .navbar-nav.px-3
            .nav-item.text-nowrap
              +navlink(href = '/user/profile') Profile
          .navbar-nav.px-3
            .nav-item.text-nowrap
              +navlink(href = '/logout') Logout
        else
          .navbar-nav.px-3
            .nav-item.text-nowrap
              +navlink(href = '/login') Login / Sign Up
    
    .wrapper
      block sidebar
        nav#sidebar.transition.bg-light(class = sidebar)  
          
          ul.nav.flex-column
            li.nav-item
              +navlink(href = '/')
                i.fa.fa-home("aria-hidden" = "true")
                | Home
            
            li.nav-item
              +navlink(href = '/components/recent')
                i.fa.fa-puzzle-piece("aria-hidden" = "true")
                | Components
              
              ul.nav.flex-column.ml-3.sub-bar
                li.nav-item
                  +navlink(href = '/components/types')
                    |      List Component Types
                li.nav-item
                  +navlink(href = '/search/componentsByUUID')
                    |      Search by UUID
                li.nav-item
                  +navlink(href = '/components/myRecents')
                    |      My Recent Components
            
            li.nav-item
              +navlink(href = '/tests/recent')
                i.fa.fa-flask("aria-hidden" = "true")
                | Tests
              
              ul.nav.flex-column.ml-3.sub-bar
                li.nav-item
                  +navlink(href = '/tests/types')
                    |      List Test Types
                li.nav-item
                  +navlink(href = '/tests/myDrafts')
                    |      My Draft Tests
            
            li.nav-item
              +navlink(href = '/jobs/recent')
                i.fa.fa-list-ol("aria-hidden" = "true")
                | Jobs
              
              ul.nav.flex-column.ml-3.sub-bar
                li.nav-item
                  +navlink(href = '/jobs/types')
                    |      List Job Types
            
            li.nav-item
              +navlink(href = '/courses')
                i.fa.fa-graduation-cap("aria-hidden" = "true")
                | Courses
            
            li.nav-item
              +navlink(href = '/users')
                i.fa.fa-user("aria-hidden" = "true")
                | Users
              
              ul.nav.flex-column.ml-3.sub-bar
                li.nav-item
                  +navlink(href = '/users/m2m')
                    | m2m Users
            
            li.nav-item
              +navlink(href = '/search')
                i.fa.fa-search("aria-hidden" = "true")
                | Advanced Search
          
          hr
          
          ul.nav.flex-column
            li.nav-item
              +navlink(href = 'https://github.com/DUNE/dunedb/wiki', target = '_blank')
                i.fa.fa-globe("aria-hidden" = "true")
                | DB Documentation
            
            li.nav-item
              +navlink(href = 'https://edms.cern.ch/ui/#!master/navigator/project?P:100233208:100233208:subDocs', target = '_blank')
                i.fa.fa-globe("aria-hidden" = "true")
                | EDMS File Storage
      
      #content
        block content 


//
// Bootstrap core JavaScript
// ==================================================
// Placed at the end of the document so the pages load faster

script(src = '/pages/dashboard.js')

script(src = '/dist/bootstrap/js/bootstrap.bundle.min.js')
script(src = '/dist/bootstrap-autocomplete/latest/bootstrap-autocomplete.min.js')
script(src = '/dist/formiojs/formio.full.js')

script.
  Formio.setBaseUrl("!{base_url}");

script(src = '/dist/short-uuid/short-uuid.min.js')
script(src = '/dist/deepmerge/umd.js')
script(src = '/dist/moment/moment.min.js')
script(src = '/dist/ekko-lightbox/ekko-lightbox.min.js')
 
script(src = '/dist/jsqr/jsQR.js') 
script(src = '/ext/qrcodegen.js')

script(src = '/js/jsonpath.min.js')
script(src = '/dist/fabric/fabric.min.js')
script(src = '/dist/fabric-history/index.min.js')
script(type = 'text/javascript', src = '/dist/jsonurl/jsonurl.min.js')

script(type = 'text/javascript', src = '/ext/qrcodegen.js')
script(type = 'text/javascript', src = '/js/generate_qr_code.js')
script(type = 'text/javascript', src = '/dist/short-uuid/short-uuid.min.js')
script(src = '/formio/ComponentGeoTag.js')
script(src = '/formio/QR_Component.js')
script(src = '/formio/ComponentUUID_Component.js')
script(src = '/formio/TestId.js')
script(src = '/formio/ComponentWorkStep.js')
script(src = '/formio/ComponentArray.js')
script(src = '/formio/ComponentSpecNumber.js')
script(src = '/formio/Components_misc.js')
script(src = '/formio/DatabaseImage.js')

script(src = '/js/AnnotationCanvas.js')
script(src = '/formio/ImageAnnotator.js')
script(src = '/formio/AnnotatedImage.js')
script(src = '/formio/BetterDataGrid.js')

script(src = '/js/uuid_autocomplete.js')
script(src = '/js/ABoundObject.js')
script(src = '/js/Pad.js')
script(src = '/js/Histogram.js')
script(src = '/js/HistCanvas.js')
script(src = '/js/ColorScale.js')

style.
  li.nav-item img {height: 40px;}

block extrascripts  
