doctype html

head
  block pugscripts

  block vars

  title #{page_title || 'APA Construction Database'}

  <meta charset = 'utf-8'>
  <meta http-equiv = 'X-UA-Compatible' content = 'IE=edge'>
  <meta name = 'viewport' content = 'width = device-width, initial-scale = 1, shrink-to-fit = no'>

  link(rel = 'icon', href = '/images/browser_icon.png', type = 'image/png')
  link(rel = 'stylesheet', href = '/css/dashboard.css')
  link(rel = 'stylesheet', href = '/css/custom.scss')
  link(rel = 'stylesheet', href = '/dist/formiojs/formio.full.min.css')
  link(rel = 'stylesheet', href = '/css/common.css')
  link(rel = 'stylesheet', href = '/css/AnnotationCanvas.css')
  link(rel = 'stylesheet', href = '/css/component.css')
  link(rel = 'stylesheet', href = '/css/component_qrCodes.css')
  link(rel = 'stylesheet', href = '/css/component_summary.css')
  link(rel = 'preload', href = 'https://fonts.googleapis.com/css2?family=Inconsolata&family=Palanquin&display=swap', as = 'style')
  link(rel = 'stylesheet', href = 'https://fonts.googleapis.com/css2?family=Inconsolata&family=Palanquin&display=swap')

  script(src = '/dist/jquery/jquery.min.js')

mixin navlink
  if(attributes.href == route)
    a.nav-link.active&attributes(attributes)
      block
  else
    a.nav-link&attributes(attributes)
      block

body(class = `deployment-${NODE_ENV}`)
  block allbody
    block navbar
      nav.navbar.navbar-expand-sm.navbar-dark.bg-dark.p-0

        button.btn-btn-info#sidebarCollapse(type = 'button')
          i.fa.fa-align-left

        nav.navbar-brand.pl-2#navbar-brand(style = 'width: 100%')
          span.text-capitalize #{NODE_ENV}

        if locals.user
          .navbar-nav.ml-n1
            .nav-item
              a.btn.btn-dark(href = '/user') Profile
          .navbar-nav.mr-1
            .nav-item
              a.btn.btn-dark(href = '/logout') Logout
        else
          .navbar-nav.ml-n1.mr-1
            .nav-item
              a.btn.btn-dark(href = '/login') Login / Sign Up

    .wrapper
      block sidebar
        nav.transition.bg-light#sidebar(class = sidebar)  

          ul.nav.flex-column
            li.nav-item
              +navlink(href = '/')
                i.fa.fa-home(aria-hidden = 'true')
                | Home

            li.nav-item
              +navlink(href = '/components/list')
                i.fa.fa-puzzle-piece(aria-hidden = 'true')
                | Components

              ul.nav.flex-column.ml-3.sub-bar
                li.nav-item
                  +navlink(href = '/componentTypes/list')
                    |      Component Types

            li.nav-item
              +navlink(href = '/actions/list')
                i.fa.fa-flask(aria-hidden = 'true')
                | Actions

              ul.nav.flex-column.ml-3.sub-bar
                li.nav-item
                  +navlink(href = '/actionTypes/list')
                    |      Action Types

            li.nav-item
              +navlink(href = '/workflows/list')
                i.fa.fa-graduation-cap(aria-hidden = 'true')
                | Workflows

              ul.nav.flex-column.ml-3.sub-bar
                li.nav-item
                  +navlink(href = '/workflowTypes/list')
                    |      Workflow Types

            //- Leave this sidebar item commented out for now ... will re-enable it once we know more about type form tags usage
            //- li.nav-item
            //-   +navlink(href = '/tags')
            //-     i.fa.fa-list-ol(aria-hidden = 'true')
            //-     | Type Form Tags

            li.nav-item
              +navlink(href = '/users/list')
                i.fa.fa-user(aria-hidden = 'true')
                | Users

            li.nav-item
              +navlink(href = '/search')
                i.fa.fa-search(aria-hidden = 'true')
                | Search

              ul.nav.flex-column.ml-3.sub-bar
                li.nav-item
                  +navlink(href = '/search/byUUIDOrID')
                    |      By UUID / ID

                li.nav-item
                  +navlink(href = '/search/byLocationOrPartNumber')
                    |      By Location / Part Number

                li.nav-item
                  +navlink(href = '/search/byVisInspectOrOrderNumber')
                    |      By Visual Inspection / Order Number

          hr

          ul.nav.flex-column
            li.nav-item
              +navlink(href = 'https://github.com/DUNE/dunedb/wiki', target = '_blank')
                i.fa.fa-globe(aria-hidden = 'true')
                | DB Documentation

            li.nav-item
              +navlink(href = 'https://edms.cern.ch/ui/#!master/navigator/project?P:100233208:100233208:subDocs', target = '_blank')
                i.fa.fa-globe(aria-hidden = 'true')
                | EDMS File Storage

      #content
        block content 


//- Bootstrap core JavaScript
//- ==========================================================
//- Placed at the end of the document so the pages load faster

script(src = '/pages/dashboard.js')

script(src = '/dist/bootstrap/js/bootstrap.bundle.min.js')
script(src = '/dist/bootstrap-autocomplete/latest/bootstrap-autocomplete.min.js')
script(src = '/dist/formiojs/formio.full.js')

script.
  Formio.setBaseUrl('!{base_url}');

script(src = '/dist/short-uuid/short-uuid.min.js')
script(src = '/dist/deepmerge/umd.js')
script(src = '/dist/moment/moment.min.js')
script(src = '/dist/ekko-lightbox/ekko-lightbox.min.js')

script(src = '/dist/jsqr/jsQR.js') 
script(src = '/js/qrcodegen.js')

script(src = '/js/jsonpath.min.js')
script(src = '/dist/fabric/fabric.min.js')
script(src = '/dist/fabric-history/index.min.js')
script(type = 'text/javascript', src = '/dist/jsonurl/jsonurl.min.js')

script(type = 'text/javascript', src = '/js/qrcodegen.js')
script(type = 'text/javascript', src = '/js/DrawQRCode.js')
script(type = 'text/javascript', src = '/dist/short-uuid/short-uuid.min.js')
script(src = '/formio/ComponentGeoTag.js')
script(src = '/formio/ComponentUUID.js')
script(src = '/formio/ActionID.js')
script(src = '/formio/WorkflowID.js')
script(src = '/formio/ComponentWorkStep.js')
script(src = '/formio/ComponentArray.js')
script(src = '/formio/ComponentSpecNumber.js')
script(src = '/formio/Components_misc.js')
script(src = '/formio/DatabaseImage.js')

script(src = '/js/AnnotationCanvas.js')
script(src = '/formio/ImageAnnotator.js')
script(src = '/formio/AnnotatedImage.js')
script(src = '/formio/BetterDataGrid.js')

script(src = '/js/ABoundObject.js')
script(src = '/js/Pad.js')
script(src = '/js/Histogram.js')
script(src = '/js/HistCanvas.js')
script(src = '/js/ColorScale.js')

style.
  li.nav-item img {height: 40px;}

block extrascripts  
