doctype html

head
  block pugscripts

  block vars

  title #{page_title || 'APA Construction Database'}

  <meta charset = 'utf-8'>
  <meta http-equiv = 'X-UA-Compatible' content = 'IE=edge'>
  <meta name = 'viewport' content = 'width = device-width, initial-scale = 1, shrink-to-fit = no'>

  //- Load internal stylesheets
  //- Note that internal libraries are loaded at the end of the page, so as to not slow down the page rendering
  link(rel = 'icon', href = '/images/browser_icon.png', type = 'image/png')
  link(rel = 'stylesheet', href = '/css/dashboard.css')
  link(rel = 'stylesheet', href = '/css/custom.scss')
  link(rel = 'stylesheet', href = '/css/common.css')
  link(rel = 'stylesheet', href = '/css/component.css')
  link(rel = 'stylesheet', href = '/css/component_qrCodes.css')
  link(rel = 'stylesheet', href = '/css/component_summary.css')

  //- Load external stylesheets and libraries
  //- Note that for the libraries, the 'jQuery' one must be loaded first, since some of the others depend on it
  link(rel = 'preload', href = 'https://cdn.jsdelivr.net/npm/formiojs@4.13.3/dist/formio.full.min.css', as = 'style', 
    integrity = 'sha256-s29fAUUeOwl+ddJh9Syk/WJ5CjZiAI6BWG4uPhtKlps=', crossorigin = 'anonymous')
  link(rel = 'stylesheet', href = 'https://cdn.jsdelivr.net/npm/formiojs@4.13.3/dist/formio.full.min.css', 
    integrity = 'sha256-s29fAUUeOwl+ddJh9Syk/WJ5CjZiAI6BWG4uPhtKlps=', crossorigin = 'anonymous')
  link(rel = 'preload', href = 'https://fonts.googleapis.com/css2?family=Inconsolata&family=Palanquin&display=swap', as = 'style')
  link(rel = 'stylesheet', href = 'https://fonts.googleapis.com/css2?family=Inconsolata&family=Palanquin&display=swap')

  script(src = 'https://code.jquery.com/jquery-3.6.0.min.js', 
    integrity = 'sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=', crossorigin = 'anonymous')
  script(src = 'https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js', 
    integrity = 'sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct', crossorigin = 'anonymous')
  script(src = 'https://cdn.jsdelivr.net/npm/bootstrap-autocomplete@2.3.5/dist/latest/bootstrap-autocomplete.min.js', 
    integrity = 'sha256-2CNWY27yrzaMaN0z20KTdau9frXTl5aBOZ3E7rSGOSo=', crossorigin = 'anonymous')
  script(src = 'https://cdn.jsdelivr.net/npm/formiojs@4.13.3/dist/formio.full.min.js', 
    integrity = 'sha256-VvJv52ezJBJcslMJon3iRdmJAUZjNXqcm8S+smOYhho=', crossorigin = 'anonymous')
  script(src = 'https://cdn.jsdelivr.net/npm/jsqr@1.4.0/dist/jsQR.min.js', 
    integrity = 'sha384-2EBe4bOCAHoiyZtAsgW2cgo3crpM072svgIIV2pYxOQWejDaa1rMJA9NH6LCkVQb', crossorigin = 'anonymous')

mixin navlink
  if(attributes.href == route)
    a.nav-link.active&attributes(attributes)
      block
  else
    a.nav-link&attributes(attributes)
      block

body(class = `deployment-${NODE_ENV}`)
  block allbody
    block navbar
      nav.navbar.navbar-expand-sm.navbar-dark.bg-dark.p-0

        button.btn-btn-info#sidebarCollapse(type = 'button')
          i.fa.fa-align-left

        nav.navbar-brand.pl-2#navbar-brand(style = 'width: 100%')
          span.text-capitalize #{NODE_ENV}

        if locals.user
          .navbar-nav.ml-n1
            .nav-item
              a.btn.btn-dark(href = '/user') Profile
          .navbar-nav.mr-1
            .nav-item
              a.btn.btn-dark(href = '/logout') Logout
        else
          .navbar-nav.ml-n1.mr-1
            .nav-item
              a.btn.btn-dark(href = '/login') Login / Sign Up

    .wrapper
      block sidebar
        nav.transition.bg-light#sidebar(class = sidebar)  

          ul.nav.flex-column
            li.nav-item
              +navlink(href = '/')
                i.fa.fa-home(aria-hidden = 'true')
                | Home

            li.nav-item
              +navlink(href = '/components/list')
                i.fa.fa-puzzle-piece(aria-hidden = 'true')
                | Components

              ul.nav.flex-column.ml-3.sub-bar
                li.nav-item
                  +navlink(href = '/componentTypes/list')
                    |      Component Types

            li.nav-item
              +navlink(href = '/actions/list')
                i.fa.fa-flask(aria-hidden = 'true')
                | Actions

              ul.nav.flex-column.ml-3.sub-bar
                li.nav-item
                  +navlink(href = '/actionTypes/list')
                    |      Action Types

            li.nav-item
              +navlink(href = '/workflows/list')
                i.fa.fa-graduation-cap(aria-hidden = 'true')
                | Workflows

              ul.nav.flex-column.ml-3.sub-bar
                li.nav-item
                  +navlink(href = '/workflowTypes/list')
                    |      Workflow Types

            //- Leave this sidebar item commented out for now ... will re-enable it once we know more about type form tags usage
            //- li.nav-item
            //-   +navlink(href = '/tags')
            //-     i.fa.fa-list-ol(aria-hidden = 'true')
            //-     | Type Form Tags

            li.nav-item
              +navlink(href = '/users/list')
                i.fa.fa-user(aria-hidden = 'true')
                | Users

            li.nav-item
              +navlink(href = '/search')
                i.fa.fa-search(aria-hidden = 'true')
                | Search for ...

              ul.nav.flex-column.ml-3.sub-bar
                li.nav-item
                  +navlink(href = '/search/recordByUUIDOrID')
                    |      Record By UUID / ID

                li.nav-item
                  +navlink(href = '/search/geoBoardsByLocationOrPartNumber')
                    |      Geometry Boards by Location / Part Number

                li.nav-item
                  +navlink(href = '/search/geoBoardsByVisInspectOrOrderNumber')
                    |      Geometry Boards by Visual Inspection / Order Number

                li.nav-item
                  +navlink(href = '/search/workflowsByUUID')
                    |      Workflows by UUID

                li.nav-item
                  +navlink(href = '/search/apaByRecordDetails')
                    |      Assembled APA by Record Details

          hr

          ul.nav.flex-column
            li.nav-item
              +navlink(href = 'https://github.com/DUNE/dunedb/wiki', target = '_blank')
                i.fa.fa-globe(aria-hidden = 'true')
                | DB Documentation

            li.nav-item
              +navlink(href = 'https://edms.cern.ch/ui/#!master/navigator/project?P:100233208:100233208:subDocs', target = '_blank')
                i.fa.fa-globe(aria-hidden = 'true')
                | EDMS File Storage

      #content
        block content 


//- Load internal libraries and set any global parameters and settings
script(src = '/pages/dashboard.js')

script.
  Formio.setBaseUrl('!{base_url}');

script(src = '/formio/ActionID.js')
script(src = '/formio/BetterDataGrid.js')
script(src = '/formio/ComponentUUID.js')
script(src = '/formio/NumberArray.js')
script(src = '/formio/NumberTolerance.js')
script(src = '/formio/WorkflowID.js')

script(src = '/js/ABoundObject.js')
script(src = '/js/Pad.js')
script(src = '/js/ColorScale.js')
script(src = '/js/HistCanvas.js')
script(src = '/js/Histogram.js')
script(src = '/js/qrcodegen.js')
script(src = '/js/DrawQRCode.js')

style.
  li.nav-item img {height: 40px;}

block extrascripts  
