//-  
//- This is a template ... it must be extended to add content under 'block metaschema' in order to make it functional
//-

extend default

block extrascripts
  script(type = 'text/javascript').
    var formId = "!{formId}";
    var collection = "!{collection}";
  
  block metaschema
  
  block workscripts
    script(src = '/pages/edit_form.js')

block content
  .container-fluid
    div.vert-space-x2
      block content_header
      
      div#metaform

    div.vert-space-x1
      hr 
  
    div.vert-space-x1
      .row
        .col
          .panel.panel-default
          .foldable-heading.panel-heading.collapsed(data-toggle = 'collapse' data-target = '#json-holder')
            | View contents of JSON file (useful for debugging) 
            i.chevron.fa.fa-fw    
          div#json-holder.collapse
            textarea#schema.form-control(rows = 20)
        
        .col
          a#download_schema_link(download = formId + ".json", href = "") Download JSON file
       
          div.vert-space-x1
            button.btn.btn-primary#copySchemaToClipboard Copy JSON file contents to Clipboard
          
          // TOFIX: The 'Paste JSON from Clipboard' button below doesn't seem to actually do anything
          // I'm commenting it out for now, but will add back in and fix later if the functionality is asked for
          // div.vert-space-x1
          //   button.btn.btn-primary#pasteSchemaFromClipboard Paste JSON from Clipboard

    div.vert-space-x2
