extend default

block vars
  - var page_title = "Submit Job";

block extrascripts
  script(type = 'text/javascript').
    var job = !{JSON.stringify(job || {}, null, 4)}; 
    var form = !{JSON.stringify(form || {}, null, 4)}; 
  
  block workscripts
    script(src = '/pages/job_submit.js')

block content
  .container-fluid
    div.vert-space-x2
      h2 Submit Job
    
    div.vert-space-x1
      dl
        dt Job Type
        dd=form.formName
    
    div.vert-space-x1
      hr
    
    div.vert-space-x1.formbuilder_area
      #builtform
    
    div.vert-space-x2
