extend default
include common.pug

block vars
  - var page_title = "All Test Types";

block extrascripts
  block workscripts
    script(src = '/pages/list_testTypes.js')

block content
  .container-fluid
    div.vert-space-x2
      a(href = '#', data-toggle = "modal" data-target = "#NewTestTypeModal").NewTestType.btn.btn-warning
        img.small-icon(src = '/images/edit_icon.svg')
        | &nbsp; Create New Test Type Form
    
      #NewTestTypeModal.modal.fade(tabindex = '-1' role = 'dialog' aria-labelledby = 'NewTestTypeLabel' aria-hidden = 'true')
        .modal-dialog(role = "document")
          .modal-content
            .modal-header
              h5#NewTestTypeLabel.modal-title Create New Test Type
              button.close(type = "button", data-dismiss = "modal", aria-label = "Close")
                span(aria-hidden = true) &times;
            .modal-body
              div
                | Enter the new test type's form ID.
                br
                | NOTE: this ID should have only underscores and alphanumerics (no spaces) - the human-readable name will be set on the next page.
              div.vert-space-x1
                input.NewTestTypeName.form-control(type = "text")
            .modal-footer
              button.btn.btn-danger(type = "button", data-dismiss = "modal") Close
              button.btn.btn-success.NewTestTypeButton(type = "button") Create
    
    div.vert-space-x2
      h2 Available Test Types
    
    div.vert-space-x1
      table.table
        thead
          tr
            th.col-md-3 Type ID
            th.col-md-3 Type Name
            th.col-md-2
            th.col-md-2
            th.col-md-2
        
        tbody
          each formId in Object.keys(forms).sort()
            - var form = forms[formId];
            
            if(form.tags && !form.tags.includes("Trash")) 
              tr
                td #{formId}        
                td
                  a(href = '/tests/' + formId + '/list') #{form.formName}
                td
                  a(href = '/test/' + formId).btn.btn-primary 
                    img.small-icon(src = '/images/run_icon.svg')
                    | &nbsp; Run on a Single Component
                td
                  a(href = '/test/' + formId + '/multiComponent').btn.btn-primary 
                    img.small-icon(src = '/images/run_multiple_icon.svg')
                    | &nbsp; Run on Multiple Components
                td
                  a(href = '/tests/' + formId + '/edit').btn.btn-warning 
                    img.small-icon(src = '/images/edit_icon.svg')
                    | &nbsp; Edit Test Type Form

    div.vert-space-x2
      h2 Trashed Test Types
      
    div.vert-space-x1
      table.table
        thead
          tr
            th.col-md-3 Type ID
            th.col-md-3 Type Name
            th.col-md-2
            th.col-md-2
            th.col-md-2
        
        tbody
          each formId in Object.keys(forms).sort()
            - var form = forms[formId];
            
            if(form.tags && form.tags.includes("Trash")) 
              tr
                td #{formId}  
                td
                  a(href = '/tests/' + formId + '/list') #{form.formName}
                td
                td
                td
                  a(href = '/tests/' + formId + '/edit').btn.btn-warning 
                    img.small-icon(src = '/images/edit_icon.svg')
                    | &nbsp; Edit Test Type Form
    
    div.vert-space-x2
