extend default
include common.pug

block vars
  - var page_title = "Machine-to-Machine (m2m) Users";

block extrascripts
  block workscripts
    script(src = '/pages/list_m2mUsers.js')
    
block content
  .container-fluid
    div.vert-space-x2
      h2 Machine-to-Machine (m2m) Users

    div.vert-space-x1
      .row
        .col-md-5
          p To add a new m2m user client, enter the credentials in the boxes below and press the 'Submit' button.
          p To change an existing m2m user client, click the client in the list to the right, modify as required using the boxes below, and press the 'Submit' button.  <strong>Please note that this will create a new m2m user with the changes included, rather than modifying the existing user.  The unmodified user should be manually removed.</strong>
          p <strong>Please also be aware that any change to a m2m user client will result in new authentication tokens being issued.</strong>
          p To remove an existing m2m user client, click the client in the list to the right, and then press the 'Delete This User' button.
          
          div.vert-space-x1.border-success.border.rounded.p-2
            #formio
          
          div.vert-space-x1.form-inline
            button.btn.btn-danger(disabled = true)#deleteButton Delete This User
            
            div.hori-space-x2
              button.btn.btn-secondary#clearForm Clear Form
            
          #creds.border.rounded.border-success.hidden.m-5.p-2
            p Success!
            p.font-weight-bold You must copy these credentials to the user script now - this is the only time these credentials will be shown!
            pre(style = "user-select:all")
        
        .col-md-7
          table#users_table.table
            thead
              tr
                th.col-md-2 Display Name
                th.col-md-2 User ID
                th.col-md-2 Email
                th.col-md-3 Permissions
            
            tbody
              each m2muser in users
                tr.user_row
                  td.displayname #{m2muser.user.displayName}
                  td.user_id.monospace #{m2muser.user_id}
                  td.email
                    a(href = 'mailto:' + (m2muser.user.emails[0] || [])) #{(m2muser.user.emails[0] || [])}
                  td.permissions.monospace #{(m2muser.user.permissions || []).join(', ')}
    
    div.vert-space-x2
