
extend default
include common

//- block navbar
//-   a(onclick="window.print(); return false;" href='#print') Print

//- block sidebar


block vars
  - var page_title="Contact sheet from processing";

block allbody
  div.noprint
    a(onclick="window.print(); return false;" href='#print') Print
    div.pull-right.switchToggle
      input#qr-error-safe(type="checkbox",checked="checked")
      label.label-primary(for='qr-error-safe')
  div(style='clear:both;')    
  
  .container
    -for(var i=0;i<components.length;i+=2) {
      .row.qr-row
        -for(var j=i; j<i+2; j++) {
          if(components[j])
            div.col-sm-6(style="border:1px solid #EEE")
              +qr-panel(base_url+'/'+components[j].componentUuid.toString(),components[j].data.name)
        -}
    
    -}
