extend default

block vars
  - const page_title = 'Search for Record by UUID or ID';

block extrascripts
  block workscripts
    script(src = '/pages/search_recordByUUIDOrID.js')

block content
  .container-fluid
    .vert-space-x2
      h2 Search for Record by UUID or ID

    .vert-space-x2 
      hr

      h4 Search for Component by UUID

      .vert-space-x1
        p The input box below uses auto-complete - just start typing a component UUID, and any matching options will be displayed.
          br
          | Alternatively, click on the camera icon (to the right of the box) to take a picture of the component's QR code if you have it available.

      .vert-space-x1
        .row
          .col-md-6
            #componentuuidform

    .vert-space-x2
      hr

      h4 Search for Action by ID

      .vert-space-x1
        p The input box below uses auto-complete - just start typing an action ID, and any matching options will be displayed.

      .vert-space-x1
      .row
        .col-md-6
          #actionidform

    .vert-space-x2
      hr

      h4 Search for Workflow by ID

      .vert-space-x1
        p The input box below uses auto-complete - just start typing a workflow ID, and any matching options will be displayed.

      .vert-space-x1
      .row
        .col-md-6
          #workflowidform

    .vert-space-x2
