extend default

block vars
  - const page_title = 'Search for Geometry Boards by Visual Inspection Disposition';

block extrascripts
  block workscripts 
    script(src = '/pages/search_byVisInspectOrOrderNumber.js')

block content
  .container-fluid
    .vert-space-x2
      h2 Search for Geometry Boards by Visual Inspection Disposition

    .vert-space-x2 
      hr

      .row
        .col-md-4
          h4 Select Disposition

          .vert-space-x1
            p Select a visual inspection disposition from the options below.

          select.form-control#dispositionSelection
            option(value = '')          
            option(value = 'useAsIs') Use As Is 
            option(value = 'repair') Repair 
            option(value = 'return') Return 
            option(value = 'scrap') Scrap 
            option(value = 'toBeDetermined') To be determined 
            option(value = 'boardIsConformant') Board Is Conformant

        .col-md-1 

        .col-md-5
          h4 Enter Order Number

          .vert-space-x1
            p Enter a board order number below and press the 'Enter' key.

          input.form-control#orderNumberSelection

    .vert-space-x2
      hr

      h4 Search Results

      .vert-space-x1
        table#results

    .vert-space-x2
