extend default

block vars
  - const page_title = 'Search for Geometry Board Shipments by Reception Details';

block extrascripts
  block workscripts 
    script(src = '/pages/search_boardShipmentsByReceptionDetails.js')

block content
  .container-fluid
    .vert-space-x2
      h2 Search for Geometry Board Shipments by Reception Details

    .vert-space-x2
      hr

      .row
        .col-md-3 
          h4 Select Shipment Status

          .vert-space-x1
            p Select a status from the options below.
              br
              | <b>This selection is a <u>required</u> search parameter.</b>

          select.form-control#shipmentStatusSelection
            option(value = '') (please select)
            option(value = 'unreceived') Unreceived Shipments
            option(value = 'received') Received Shipments

        .col-md-3
          h4 Select Origin Location

          .vert-space-x1
            p Select a location from the options below.
              br
              | &nbsp 

          select.form-control#originLocationSelection
            option(value = '') (any)
            option(value = 'cambridge') Cambridge 
            option(value = 'daresbury') Daresbury 
            option(value = 'lancaster') Lancaster 
            option(value = 'manchester') Manchester 
            option(value = 'merlin') Merlin 
            option(value = 'sheffield') Sheffield 
            option(value = 'sussex') Sussex 
            option(value = 'williamAndMary') William and Mary 
            option(value = 'uwPsl') UW / PSL 
            option(value = 'chicago') Chicago

        .col-md-3
          h4 Select Destination Location

          .vert-space-x1
            p Select a location from the options below.
              br
              | &nbsp

          select.form-control#destinationLocationSelection
            option(value = '') (any)
            option(value = 'cambridge') Cambridge 
            option(value = 'daresbury') Daresbury 
            option(value = 'lancaster') Lancaster 
            option(value = 'manchester') Manchester 
            option(value = 'merlin') Merlin 
            option(value = 'sheffield') Sheffield 
            option(value = 'sussex') Sussex 
            option(value = 'williamAndMary') William and Mary 
            option(value = 'uwPsl') UW / PSL 
            option(value = 'chicago') Chicago

        .col-md-3 

      .row.vert-space-x2
        .col-md-3 

        .col-md-3
          h4 Select Earliest Reception Date

          .vert-space-x1
            p Select a date by clicking the box below.
              br
              | The search will match reception <b><u>on and after</u></b> this date.

            #earliestdateform

        .col-md-3
          h4 Select Latest Reception Date

          .vert-space-x1
            p Select a date by clicking the box below.
              br
              | The search match reception <b><u>on and before</u></b> this date.

            #latestdateform

        .col-md-3
          h4 Select Reception Comment

          .vert-space-x1
            p Indicate if you would like to query against reception comments.
              br
              | &nbsp 

          select.form-control#receptionCommentSelection
            option(value = '') All shipments 
            option(value = 'noComment') Only shipments received with no comments 
            option(value = 'comment') Only shipments received with comments 

    .vert-space-x2
      hr

      h4 Search Results

      .vert-space-x1
        table#results

    .vert-space-x2
