extend default

block vars
  - const page_title = 'Search for Non-Conformance  by Record Details';

block extrascripts
  block workscripts 
    script(src = '/pages/search_nonConformanceByRecordDetails.js')

block content
  .container-fluid
    .vert-space-x2
      h2 Search for Non-Conformance by Record Details

    .vert-space-x2 
      hr

      .row
        .col-md-3
          h4 Select Component Type

          .vert-space-x1
            p Select a component type from the options below.
              br
              | <b>This selection is a <u>required</u> search parameter.</b>

          select.form-control#componentTypeSelection
            option(value = '')
            option(value = 'assembledApa') Assembled APA 
            option(value = 'apaFrame') APA Frame 
            option(value = 'groundingMeshPanel') Grounding Mesh Panel 

        .col-md-1 

        .col-md-3 
          h4 Select Disposition

          .vert-space-x1 
            p Select a disposition from the options below.
              br
              | &nbsp 

          select.form-control#dispositionSelection
            option(value = '') (any)
            option(value = 'useAsIs') Use As Is 
            option(value = 'repair') Repair 
            option(value = 'rework') Rework 
            option(value = 'returnToSupplier') Return to Supplier 
            option(value = 'rejectRePurpose') Reject/Re-purpose
            option(value = 'scrap') Scrap 

        .col-md-3 
          h4 Select Status 

          .vert-space-x1 
            p Select a status from the options below.
              br
              | &nbsp 

          select.form-control#statusSelection
            option(value = '') (any)
            option(value = 'open') Open 
            option(value = 'closed') Closed 

        .col-md-2

    .vert-space-x2
      hr

      h4 Search Results

      .vert-space-x1
        table#results

    .vert-space-x2
