extend default

block vars
  - const page_title = 'Search for Assembled APA by Location';

block extrascripts
  block workscripts 
    script(src = '/pages/search_apaByLocation.js')

block content
  .container-fluid
    .vert-space-x2
      h2 Search for Assembled APA by Location

    .vert-space-x2
      hr

      .row
        .col-md-4
          h4 Select Location

          .vert-space-x1
            p Select a location from the options below.

          select.form-control#locationSelection
            option(value = '')          
            option(value = 'daresbury') Daresbury 
            option(value = 'chicago') Chicago
            option(value = 'wisconsin') Wisconsin 

          .vert-space-x2
            h4 Enter Production Number

            .vert-space-x1
              p Enter the production number of the APA at the specified location below and <b>press the 'Enter' key</b>.

            input.form-control#productionNumberSelection

        .col-md-1

        .col-md-7
          .vert-space-x1
            #messages

    .vert-space-x2
