extend default

block vars
  - const page_title = 'Search for Assembled APA by Production Details';

block extrascripts
  script(type = 'text/javascript').
    const dictionary_locations = !{JSON.stringify(dictionary_locations, null, 4)};

  block workscripts 
    script(src = '/pages/search_apaByProductionDetails.js')

block content
  .container-fluid
    .vert-space-x2
      h2 Search for Assembled APA by Production Details

    .vert-space-x2
      hr

      .row
        .col-md-4
          h4 Select Production Location

          .vert-space-x1
            p Select a location from the options below.

          select.form-control#locationSelection
            option(value = '')          
            option(value = 'chicago') #{dictionary_locations['chicago']} 
            option(value = 'daresbury') #{dictionary_locations['daresbury']} 
            option(value = 'fermilab') #{dictionary_locations['fermilab']} 

          .vert-space-x2
            h4 Enter Production Number

            .vert-space-x1
              p Enter the production number of the APA at the specified location below and <b>press the 'Enter' key</b>.

            input.form-control#numberSelection

        .col-md-1

        .col-md-7
          .vert-space-x1
            #messages

    .vert-space-x2
