extend default

block vars
  - const page_title = 'Search Descriptions';

block content
  .container-fluid
    .vert-space-x2
      h2 Search Descriptions

    .vert-space-x1
      p The following dedicated search pages can be accessed from this page, as well as through the links under the <b>Search for ...</b> section of the sidebar.
        br
        | Users do not need any particular permission to perform a search, but they will require the appropriate permission(s) to access the various component, action and workflow information pages linked from the search results.

      hr

    .vert-space-x2
      h4
        a(href = '/search/componentsByUUIDOrTypeAndNumber') Components by UUID or Type and Number

      p This page may be used to search specifically for <b>components</b> under one of the following scenarios: 
        ul
          li <b>by component UUID</b>
          li <b>by component type and type record number</b>

      p Every component record includes a type record number, but only for specific component types is this number actually used.  For example, 'Geometry Board' type components use the type record number as their 'UKID' unique identifiers, and 'Grounding Mesh Panel' type components include the type record number within their DUNE PID identifiers.

      p In the first scenario, the UUID input box uses auto-complete, so users may begin manually entering a UUID, and any matching entries currently in the database will be displayed (up to 10 entries).  The auto-complete system is responsive - meaning that the list of displayed matches will be dynamically updated as more of the input is entered.
        br
        |  UUIDs may additionally be provided in full by scanning a component QR code.  This can be done by simply pressing the 'camera' icon to the right of the component UUID input box, and directing your device's camera view to the QR code in question.
        br
        | If the entered UUID corresponds to a component record in the database, the user will be automatically redirected to the page for viewing the component information.  If there is no corresponding record, an error will be displayed.

      p In the second scenario, users must specify the following information:
        ul
          li the component type (from the dropdown list)
          li the type record number (as an integer)

      p If the specified information corresponds to a component record in the database, the user will be automatically redirected to the page for viewing the component information.  If there is no corresponding record, an error will be displayed.
        br
        |  It should not be possible for multiple components of the same type to have the same type record number, since the numbers are assigned in sequence at component creation.  However, in the unlikely case of this situation occurring, a message will also be displayed indicating so.

      hr

    .vert-space-x2
      h4
        a(href = '/search/geoBoardsByLocationOrPartNumber') Geometry Boards By Location or Part Number

      p This page may be used to search specifically for <b>geometry boards</b> under one of the following scenarios: 
        ul
          li <b>either</b> all geometry boards of any board part number that have been received at a <u>specified location</u>
          li <b>or</b> all geometry boards of a <u>specified board part number</u> that have been received at any location

      p Users may select one of the available board reception locations or part numbers from the appropriate list, and a summary of information about each found board will be displayed in the search results panel on the right side of the page.
        br
        | Both searches may be optionally refined by the following parameters: 
        ul
          li <b>board acceptance status</b> - that is, whether a board has been <u>rejected</u> (by performing a <u>Factory Rejection</u> action on it, and setting the action disposition to <u>Rejected</u>) or <u>accepted</u> (by either not performing a Factory Rejection action, or performing the action and setting the disposition to either <u>Use As Is</u> or <u>Remediated</u>)
          li <b>tooth strip attachment status</b> - whether a tooth strip has been attached to the board (by performing a <u>Tooth Strip Attachment</u> action on it)

      p Please note that a geometry board is only deemed to be at a given location if it has either been intaken there, or has been recorded as being received there via a successfully submitted <b>Board Shipment Reception</b> action.

      hr

    .vert-space-x2
      h4
        a(href = '/search/geoBoardsByVisInspectOrOrderNumber') Geometry Boards By Visual Inspection Disposition or Order Number

      p This page may be used to search specifically for <b>geometry boards</b> under one of the following scenarios:
        ul
          li <b>either</b> all geometry boards of any batch order number that have a <u>specified visual inspection disposition</u>
          li <b>or</b> all geometry boards of a <u>specified batch order number</u> that have any visual inspection disposition

      p Users may select one of the available dispositions from the list or enter an order number into the provided input box, and a summary of information about each found board will be displayed in the search results panel at the bottom of the page.
        br
        | The search by disposition may be optionally refined by selecting a <u>visual inspection issue</u> from the provided list.

      p Please note that <b>a geometry board will only be displayed in the search results if a <u>Visual Inspection</u> action has been performed on it</b>.

      hr

    .vert-space-x2
      h4
        a(href = '/search/boardShipmentsByReceptionDetails') Geometry Board Shipments by Reception Details

      p This page may be used to search specifically for <b>geometry board shipments</b> that match <b>one or more</b> of the following user-specified record details:
        ul
          li <b>shipment status</b>: whether the shipment has been recorded as received or not
          li <b>origin location</b>: the location from which the shipment was sent
          li <b>destination location</b>: the location at which the shipment is to be (or has been) received
          li <b>earliest reception date</b>: the earliest date on which the shipment could have been received (if not specified, 1st of January 2000 is used)
          li <b>latest reception date</b>: the latest date on which the shipment could have been received (if not specified, today's date is used)
          li <b>reception comment</b>: the presence of any comments noted in the shipment reception record

      p The 'shipment status' is the only <b>required</b> parameter for any search - users may use any combination of the other parameters from their respective lists.

      p Upon a successful search, a summary of information about each found shipment will be displayed in the search results panel below the selection boxes.  In the case of shipments that have not been received, reception information will of course be left blank in the results.

      hr

    .vert-space-x2
      h4
        a(href = '/search/meshesByLocationOrPartNumber') Grounding Mesh Panels By Location or Part Number

      p This page may be used to search specifically for <b>grounding mesh panels</b> under one of the following scenarios: 
        ul
          li <b>either</b> all mesh panels of any part number that have been received at a <u>specified location</u>
          li <b>or</b> all mesh panels of a <u>specified part number</u> that have been received at any location

      p Users may select one of the available mesh panel reception locations or part numbers from the appropriate list, and a summary of information about each found mesh panel will be displayed in the search results panel on the right side of the page.

      p Please note that a mesh panel is only deemed to be at a given location if it has either been intaken there, or has been recorded as being received there via a successfully submitted <b>Grounding Mesh Panel Shipment Reception</b> action.

      hr

    .vert-space-x2
      h4
        a(href = '/search/boardKitComponentsByLocation') Populated Board Kit Components By Location

      p This page may be used to search specifically for components that make up <b>populated board kits</b> (<b>CR boards</b>, <b>G-Bias boards</b>, <b>SHV boards</b> and <b>cable harnesses</b>) that have been received at a <u>specified location</u>.

      p Users may select one of the available board kit reception locations from the list, and a summary of information about all found components will be displayed in the search results panel on the right side of the page.

      p Please note that a board kit (and therefore, its constituent components) is only deemed to be at a given location if it has been recorded as being received there via a successfully submitted <b>Populated Board Kit Reception</b> action.

      hr

    .vert-space-x2
      h4
        a(href = '/search/apasByProductionDetails') Assembled APAs by Production Details

      p This page may be used to search specifically for <b>assembled APAs</b> under one of the following scenarios:
        ul
          li <b>either</b> any assembled APA that has a specified <u>production location</u> (the location at which the APA is being assembled) <b>and</b> <u>production number</u> (the order in which the APA has been assembled at the specified location)
          li <b>or</b> all assembled APAs that have been completed up to and including a <u>specified assembly workflow step</u>

      p Users may select one of the production locations from the list, and manually enter an (integer) production number.  Please note that <b>both pieces of information must be provided</b> for the search to be performed.
        br
        |  If an existing assembled APA record matching both pieces of information is successfully found in the database, the user will be automatically redirected to the page for viewing the APA component record.
        br
        |  If there is no such APA, i.e. the information does not match an existing APA record, a message to that effect will be displayed in the search results panel on the right side of the page.
        br
        |  It should not be possible for multiple APA records to match against both provided pieces of information, since they should uniquely identify a single APA.  However, in the unlikely case of this situation occurring, a message will also be displayed indicating so.

      p Alternatively, users may select one of the provided assembly workflow steps.  A list of all assembled APAs that have been completed up to and including that step in their assembly workflows will be displayed in the search results panel on the right side of the page.

      hr

    .vert-space-x2
      h4
        a(href = '/search/actionsByIDOrReferencedUUID') Actions by ID or Referenced UUID

      p This page may be used to search specifically for <b>actions</b> under one of the following scenarios:
        ul 
          li <b>by action ID</b>
          li <b>that reference a particular component</b>, but have not been directly performed on it

      p As an example of the latter, actions relating to 'Board Installation' must reference the 'Geometry Board' type components that are being installed (i.e. the action records will contain the boards' UUIDs), but these types of actions are actually performed on 'Assembled APA' type components.

      p In the first scenario, the ID input box uses auto-complete, so users may begin manually entering an ID, and any matching entries currently in the database will be displayed (up to 10 entries).  The auto-complete system is responsive - meaning that the list of displayed matches will be dynamically updated as more of the ID is entered.
        br
        | If the entered ID corresponds to an action record in the database, the user will be automatically redirected to the page for viewing the action information.  If there is no corresponding record, an error will be displayed.

      p In the second scenario, users must specify the following information:
        ul
          li the UUID of a single component
          li the type (or general grouping) of actions, selected from the provided list

      p Please note that <b>both pieces of information must be provided</b> for the search to be performed.  If successful, a summary of information about each found action will be displayed in the search results panel on the right side of the page.

      hr

    .vert-space-x2
      h4
        a(href = '/search/nonConformanceByComponentTypeOrUUID') Non-Conformance by Component Type or UUID

      p This page may be used to search specifically for <b>non-conformance actions</b> under one of the following scenarios:
        ul
          li <b>either</b> all non-conformance actions performed on a specified <u>component type</u>, with options to additionally specify a particular non-conformance disposition and/or status
          li <b>or</b> all non-conformance actions performed on a <u>single component</u>, specified by its UUID

      p In the first scenario, users <b>must</b> select a 'component type' from the list, but the other two available parameters are optional.  In the second scenario, the only required information is the UUID of the component being queried - there are no additional optional search arguments.
        br
        | In either scenario, a summary of the found non-conformance actions will be displayed in the search results panel below the selection boxes.

      hr

    .vert-space-x2
      h4
        a(href = '/search/workflowsByIDOrUUID') Workflows by ID or UUID

      p This page may be used to search specifically for <b>workflows</b> under one of the following scenarios:
        ul
          li <b>by workflow ID</b>
          li <b>that involve a particular component</b>, specified by its full 36-character UUID

      p Each respective input box uses auto-complete, so users may begin manually entering a ID or UUID, and any matching entries currently in the database will be displayed (up to 10 entries).  The auto-complete system is responsive - meaning that the list of displayed matches will be dynamically updated as more of the input is entered.
        br
        |  UUIDs may additionally be provided in full by scanning a component QR code.  This can be done by simply pressing the 'camera' icon to the right of the component UUID input box, and directing your device's camera view to the QR code in question.

      p In both cases, if the entered ID or UUID corresponds to a workflow record in the database, the user will be automatically redirected to the page for viewing the workflow information.  If a specified ID does not correspond to an existing workflow, or if a specified component is not part of any existing workflow, a message will be displayed below the input box to that effect.

      p In the case of specifying a component UUID, it should not be possible for multiple workflows to involve the same component, since each individual workflow begins with the creation of a new, unique component.  However, in the unlikely case of this situation occurring, a message will also be displayed indicating so.

      hr

    .vert-space-x2
