extend default

block vars
  - const page_title = 'Search for Assembled APAs by Non-Conformance';

block extrascripts
  block workscripts 
    script(src = '/pages/search_apasByNonConformance.js')

block content
  .container-fluid
    .vert-space-x2
      h2 Search for Assembled APAs by Non-Conformance

    .vert-space-x2 
      hr

      .row
        .col-md-4
          h4 Select Non-Conformance Type

          .vert-space-x1
            p Select a non-conformance type from the options below.

          select.form-control#nonConformanceSelection
            option(value = '')
            option(value = 'missingWireSegment') Missing Wire Segment 
            option(value = 'geometryBoardIssue') Geometry Board Issue 
            option(value = 'combIssue') Comb Issue 
            option(value = 'machiningIssue') Machining Issue 

    .vert-space-x2
      hr

      h4 Search Results

      .vert-space-x1
        table#results

    .vert-space-x2
