extend default

block vars
  - const page_title = 'Search for Actions by Referenced UUID';

block extrascripts
  block workscripts
    script(src = '/pages/search_actionsByReferencedUUID.js')

block content
  .container-fluid
    .vert-space-x2
      h2 Search for Actions by Referenced UUID

    .vert-space-x2 
      hr

      .row
        .col-md-4
          h4 Enter Component UUID

          .vert-space-x1
            p Enter a component UUID below or take a picture of the component's QR code.

          .vert-space-x1 
            #componentUuidSelection

          .vert-space-x2
            h4 Select Action Type

            .vert-space-x1
              p Select an action type from the options below.

            select.form-control#actionTypeSelection
              option(value = '')          
              option(value = 'boardInstall') Board Installation (any layer, any side, any position)

        .col-md-1

        .col-md-7
          h4 Search Results

          .vert-space-x1
            table#results

    .vert-space-x2
