extend default

block vars
  - const page_title = 'Search for Actions by ID or Referenced UUID';

block extrascripts
  block workscripts
    script(src = '/pages/search_actionsByIDOrReferencedUUID.js')

block content
  .container-fluid
    .vert-space-x2
      h2 Search for Actions by ID or Referenced UUID

    .vert-space-x2 
      hr

      .row
        .col-md-4
          h4 Search by Action ID

          .vert-space-x1
            p The input box below uses auto-complete - just start typing an action ID, and any matching options will be displayed.

          .vert-space-x1
          .row
            .col-md-10
              #actionidform

          .vert-space-x2 
            hr

            h4 Search by Referenced Component UUID

            .vert-space-x1
              p Enter a component UUID below or take a picture of the component's QR code.

            .vert-space-x1 
              #componentUuidSelection

            .vert-space-x1
              p Select an action type from the options below.

            select.form-control#actionTypeSelection
              option(value = '')          
              option(value = 'boardInstall') Board Installation (any layer, any side, any position)
              option(value = 'winding') Winding (any layer)

        .col-md-1

        .col-md-7
          h4 Search Results

          .vert-space-x1
            table#results

    .vert-space-x2
