extend default

block vars
  - const page_title = 'Search for Non-Conformance by Component Type or UUID';

block extrascripts
  block workscripts 
    script(src = '/pages/search_nonConformanceByComponentTypeOrUUID.js')

block content
  .container-fluid
    .vert-space-x2
      h2 Search for Non-Conformance by Component Type or UUID

    .vert-space-x2 
      hr

      .row
        .col-md-4
          h4 Select Component Type

          .vert-space-x1
            p <b>Either</b> select a component type below <b>or</b> enter a component UUID to the right.
              br
              | <b>This is a <u>required</u> parameter.</b>

          select.form-control#componentTypeSelection
            option(value = '')
            option(value = 'assembledApa') Assembled APA 
            option(value = 'apaFrame') APA Frame 
            option(value = 'groundingMeshPanel') Grounding Mesh Panel 

          .vert-space-x2 
            hr

            h4 Select Disposition

            .vert-space-x1 
              p Select a disposition below ... this is an optional parameter.
                br
                | It is only used alongside the <b>component type</b> required parameter.

            select.form-control#dispositionSelection
              option(value = 'any') (any)
              option(value = 'useAsIs') Use As Is 
              option(value = 'repair') Repair 
              option(value = 'rework') Rework 
              option(value = 'returnToSupplier') Return to Supplier 
              option(value = 'rejectRePurpose') Reject/Re-purpose
              option(value = 'scrap') Scrap 

          .vert-space-x2 
            h4 Select Status

            .vert-space-x1 
              p Select a status below ... this is an optional parameter.
                br
                | It is only used alongside the <b>component type</b> required parameter.

            select.form-control#statusSelection
              option(value = 'any') (any)
              option(value = 'open') Open 
              option(value = 'closed') Closed 

        .col-md-1

        .col-md-5 
          h4 Enter Component UUID

          .vert-space-x1
            p <b>Either</b> enter a component UUID below <b>or</b> select a component type to the left.
              br
              | <b>This is a <u>required</u> parameter.</b>

          .vert-space-x1 
            #componentUuidSelection

          .vert-space-x2
            hr

            .vert-space-x2
              button.btn-primary.btn-lg.float-right#confirmButton Perform Search

    .vert-space-x2
      hr

      h4 Search Results

      .vert-space-x1
        table#results

    .vert-space-x2
