extend default

block vars
  - const page_title = 'Search Page Descriptions';

block content
  .container-fluid
    .vert-space-x2
      h2 Search Page Descriptions

    .vert-space-x1
      p The following dedicated search pages can be accessed from this page, as well as through the links under the <b>Search for ...</b> section of the sidebar.
        br
        | Users do not need any particular permission to perform a search, but they will require the appropriate permission(s) to access the various component, action and workflow information pages linked from the search results.

      hr

    .vert-space-x2
      h4
        a(href = '/search/recordByUUIDOrID') Record By UUID or ID

      p This page may be used to search for a <b>component, action or workflow record</b> by providing either a full 36-character UUID (for components) or 24-character ID (for actions and workflows).
        br
        | Each respective input box uses auto-complete, so users may begin manually entering a UUID or ID, and any matching entries currently in the database will be displayed (up to 10 entries).  The auto-complete system is responsive - meaning that the list of displayed matches will be dynamically updated as more of the input is entered.
        br
        |  UUIDs may additionally be provided in full by scanning a component QR code.  This can be done by simply pressing the 'camera' icon to the right of the component UUID input box, and directing your device's camera view to the QR code in question.
        br
        br
        | In all cases, if the entered UUID or ID corresponds to a record in the database, the user will be automatically redirected to the page for viewing the record.  If there is no corresponding record, an error will be displayed.

      hr

    .vert-space-x2
      h4
        a(href = '/search/workflowsByUUID') Workflows by UUID

      p This page may be used to search specifically for <b>workflows</b> that involve a particular component, specified by its full 36-character UUID.
        br
        |  The UUID input box uses auto-complete, so users may begin manually entering a UUID, and any matching entries currently in the database will be displayed (up to 10 entries).  The auto-complete system is responsive - meaning that the list of displayed matches will be dynamically updated as more of the UUID is entered.
        br
        |  UUIDs may additionally be provided in full by scanning a component QR code.  This can be done by simply pressing the 'camera' icon to the right of the component UUID input box, and directing your device's camera view to the QR code in question.

      p If an existing workflow that involves the specified component is successfully found in the database, the user will be automatically redirected to the page for viewing the workflow record.
        br
        |  If there is no such workflow, i.e. the specified component is not part of any existing workflow, a message will be displayed below the input box to that effect.

      p It should not be possible for multiple workflows to involve the same component, since each individual workflow begins with the creation of a new, unique component.  However, in the unlikely case of this situation occurring, a message will also be displayed indicating so.

      hr

    .vert-space-x2
      h4
        a(href = '/search/nonConformanceByComponentTypeOrUUID') Non-Conformance by Component Type or UUID

      p This page may be used to search specifically for <b>non-conformance actions</b> under one of the following scenarios:
        ul
          li <b>either</b> all non-conformance actions performed on a specified <u>component type</u>, with options to additionally specify a particular non-conformance disposition and/or status
          li <b>or</b> all non-conformance actions performed on a <u>single component</u>, specified by its UUID

      p In the first scenario, users <b>must</b> select a 'component type' from the list, but the other two available parameters are optional.  In the second scenario, the only required information is the UUID of the component being queried - there are no additional optional search arguments.
        br
        | In either scenario, a summary of the found non-conformance actions will be displayed in the search results panel below the selection boxes.

      hr

    .vert-space-x2
      h4
        a(href = '/search/geoBoardsByLocationOrPartNumber') Geometry Boards By Location or Part Number

      p This page may be used to search specifically for <b>geometry boards</b> under one of the following scenarios: 
        ul
          li <b>either</b> all geometry boards of any board part number that have been received at a <u>specified location</u>
          li <b>or</b> all geometry boards of a <u>specified board part number</u> that have been received at any location

      p Users may select one of the available board reception locations or part numbers from the appropriate list, and a summary of information about each found board will be displayed in the search results panel on the right side of the page.

      p Please note that a geometry board is only deemed to be at a given location if it has been recorded as being received there via a successfully submitted <b>Board Reception</b> action.

      hr

    .vert-space-x2
      h4
        a(href = '/search/geoBoardsByVisInspectOrOrderNumber') Geometry Boards By Visual Inspection Disposition or Order Number

      p This page may be used to search specifically for <b>geometry boards</b> under one of the following scenarios:
        ul
          li <b>either</b> all geometry boards of any batch order number that have a <u>specified visual inspection disposition</u>, and optionally a <u>specified visual inspection issue</u>
          li <b>or</b> all geometry boards of a <u>specified batch order number</u> that have any visual inspection disposition

      p Users may select one of the available dispositions from the list, along with a specific inspection issue if desired, and a summary of information about each found board will be displayed in the search results panel below the selection boxes.  In this scenario, only the disposition is <b>required</b>.
        br
        |  Alternatively, users may manually enter an order number, and a summary of boards in that order will be shown.

      p Please note that, in either scenario, <b>a geometry board will only be displayed in the search results if a <u>Visual Inspection</u> action has been performed on it</b>.

      hr

    .vert-space-x2
      h4
        a(href = '/search/boardShipmentsByReceptionDetails') Geometry Board Shipments by Reception Details

      p This page may be used to search specifically for <b>geometry board shipments</b> that match <b>one or more</b> of the following user-specified record details:
        ul
          li <b>shipment status</b>: whether the shipment has been recorded as received or not
          li <b>origin location</b>: the location from which the shipment was sent
          li <b>destination location</b>: the location at which the shipment is to be (or has been) received
          li <b>earliest reception date</b>: the earliest date on which the shipment could have been received (if not specified, 1st of January 2000 is used)
          li <b>latest reception date</b>: the latest date on which the shipment could have been received (if not specified, today's date is used)
          li <b>reception comment</b>: the presence of any comments noted in the shipment reception record

      p The 'shipment status' is the only <b>required</b> parameter for any search - users may use any combination of the other parameters from their respective lists, and a summary of information about each found shipment will be displayed in the search results panel below the selection boxes.  In the case of shipments that have not been received, reception information will of course be left blank in the results.

      hr

    .vert-space-x2
      h4
        a(href = '/search/apaByRecordDetails') Assembled APA by Record Details

      p This page may be used to search specifically for <b>assembled APAs</b> that match <b>all</b> of the following user-specified record details:
        ul
          li <b>location</b>: the location at which the APA is being assembled
          li <b>configuration</b>: the configuration of the APA ('top' or 'bottom')
          li <b>location number</b>: the number of the APA, out of all APAs being assembled at the specified location

      p Users may select one of the locations and configurations from the respective lists, and manually enter an (integer) location number.  Please note that <b>all three pieces of information must be provided</b> for the search to be performed.

      p If an existing assembled APA record that matches all three pieces of information is successfully found in the database, the user will be automatically redirected to the page for viewing the APA component record.
        br
        |  If there is no such APA, i.e. the information does not match an existing APA record, a message will be displayed to the right of the input boxes to that effect.

      p It should not be possible for multiple APA records to match against all three provided pieces of information, since they should uniquely identify a single APA.  However, in the unlikely case of this situation occurring, a message will also be displayed indicating so.

    .vert-space-x2 
