extend default

block vars
  - const page_title = 'Search for Geometry Boards by Visual Inspection Disposition or Order Number';

block extrascripts
  block workscripts 
    script(src = '/pages/search_geoBoardsByVisInspectOrOrderNumber.js')

block content
  .container-fluid
    .vert-space-x2
      h2 Search for Geometry Boards by Visual Inspection Disposition or Order Number

    .vert-space-x2 
      hr

      .row
        .col-md-4
          h4 Select Disposition

          .vert-space-x1
            p Select a visual inspection disposition from the options below.

          select.form-control#dispositionSelection
            option(value = '')          
            option(value = 'useAsIs') Use As Is 
            option(value = 'repair') Repair 
            option(value = 'return') Return 
            option(value = 'scrap') Scrap 
            option(value = 'toBeDetermined') To be determined 
            option(value = 'boardIsConformant') Board Is Conformant

        .col-md-1 

        .col-md-5
          h4 Enter Order Number

          .vert-space-x1
            p Enter a board order number below and press the 'Enter' key.

          input.form-control#orderNumberSelection

      .row.vert-space-x2
        .col-md-4
          h4 Select Issue

          .vert-space-x1
            p Select a visual inspection issue from the options below.

          select.form-control#issueSelection
            option(value = '') (any)         
            option(value = 'packagingDamaged') Packaging damaged 
            option(value = 'scratches') Scratches 
            option(value = 'exposedCopper') Exposed copper 
            option(value = 'interruptedTraces') Copper trace(s) interrupted 
            option(value = 'chipped') PCB chipped 
            option(value = 'notFlat') PCB not flat
            option(value = 'incorrectGeometry') Incorrect geometry 
            option(value = 'incorrectThickness') Incorrect thickness
            option(value = 'qrCodeProblem') QR code problem 
            option(value = 'millMaxHolePlating') Issues with mill-max hole plating
            option(value = 'extraneousMaterialOnBoard') Extraneous material on board 
            option(value = 'fiducialPin') Fiducial pin more than 0.25 mm above board surface
            option(value = 'other') Other

        .col-md-6

    .vert-space-x2
      hr

      h4 Search Results

      .vert-space-x1
        table#results

    .vert-space-x2
