doctype html

head
  title DUNE APA Construction DB

  link(rel = 'stylesheet', href = '/css/splash.css')
  link(rel = 'stylesheet', href = '/dist/formiojs/formio.full.min.css')
  link(rel = 'stylesheet', href = '/dist/bootstrap/css/bootstrap.min.css')
  link(rel = 'preload',    href = 'https://fonts.googleapis.com/css2?family=Inconsolata&family=Palanquin&display=swap', as = 'style')
  link(rel = 'stylesheet', href = 'https://fonts.googleapis.com/css2?family=Inconsolata&family=Palanquin&display=swap')
  script(src = '/dist/jquery/jquery.min.js')
  script(src = '/dist/bootstrap/js/bootstrap.min.js')

#d1
  img#i(src = '/images/splash.jpg')

#d2
  h2 &nbsp
  img(src = '/images/noun_cave_1842206_black.svg', style = 'height: 18em; width: auto; fill: black;')

  div(style = 'text-align: center; font-size: 8vw; line-height: 1;') The DUNE APA Construction Database

  h2 &nbsp
  h2 &nbsp

  a(href = '/login').btn.btn-primary Login or Sign Up

  h2 &nbsp
  h2 &nbsp
