doctype html

head
  title DUNE APA Construction DB

  link(rel = 'stylesheet', href = '/css/splash.css')
  link(rel = 'stylesheet', href = '/dist/formiojs/formio.full.min.css')
  link(rel = 'stylesheet', href = '/dist/bootstrap/css/bootstrap.min.css')
  link(rel = 'preload', href = 'https://fonts.googleapis.com/css2?family=Inconsolata&family=Palanquin&display=swap', as = 'style')
  link(rel = 'stylesheet', href = 'https://fonts.googleapis.com/css2?family=Inconsolata&family=Palanquin&display=swap')
  script(src = '/dist/jquery/jquery.min.js')
  script(src = '/dist/bootstrap/js/bootstrap.min.js')

#d1
  img#i(src = '/images/splash.jpg')

#d2
  h1 &nbsp
  img.title-image(src = '/images/noun_cave_1842206_black.svg')

  div.title-text The DUNE APA Construction Database

  h1 &nbsp
  h1 &nbsp

  a(href = '/login').btn.btn-primary Login or Sign Up

  h1 &nbsp
  h1 &nbsp
