//-  
//- This is a template ... it must be extended by adding content under 'block metaschema' in order to make it functional
//-

extend default

block extrascripts
  script(type = 'text/javascript').
    const collection = !{JSON.stringify(collection, null, 4)};
    const formId = !{JSON.stringify(formId, null, 4)};

  block metaschema

  block workscripts
    script(src = '/pages/template_editTypeForm.js')

block content
  .container-fluid
    div.vert-space-x2
      block content_header

      div#metaform

    div.vert-space-x1
      hr 

    div.vert-space-x1
      .row
        .col
          .panel.panel-default
          .foldable-heading.panel-heading.collapsed(data-toggle = 'collapse' data-target = '#json-holder')
            | View JSON Schema: 
            i.chevron.fa.fa-fw    
          div#json-holder.collapse
            textarea#schema.form-control(rows = 20)

        .col
          a#download_schema(onclick = 'DownloadSchema()', download = `${formId}.json`, href = '') Download Schema

          div.vert-space-x1
            a.button.btn.btn-primary(onclick = 'CopySchemaToClipboard()') Copy Schema to Clipboard

          div.vert-space-x1
            a.button.btn.btn-primary(onclick = 'PasteSchemaFromClipboard()') Paste Schema from Clipboard

    div.vert-space-x2
