extend default

block vars
  - var page_title = "Run Test (Unspecified Single Component)";

block extrascripts
  script(type = 'text/javascript').
    var formId = "!{formId}";
  
  block workscripts
    script(src = '/pages/test_run_noComponent.js')

block content
  .container-fluid
    div.vert-space-x2
      h2 Run Test (Unspecified Single Component)
    
    div.vert-space-x1
      dl
        dt Test Type
        dd=form.formName
    
    div.vert-space-x1
      hr
    
      p Each test is performed on one or more components. Please enter the desired component's UUID below.
        br
        | If you wish to run this test type on multiple components simultaneously, please click 
        a(href = form.formId + '/multiComponent') here
        | .
      
      p The input box uses auto-complete - just start typing a component UUID, and any matching options will be displayed.
        br
        | Alternatively, click on the camera icon (to the right of the box) to take a picture of the component's QR code if you have it available.
    
    div.vert-space-x1
      .row
        .col
          #builtform
        
        // This is a dirty way of restricting the width of the text box ... add another column to the right side of it
        // Otherwise it fills the entire width of the page and looks really stupid
        .col.offset-md-20
    
    div.vert-space-x2
