extend default

block vars
  - var page_title = "Run Test (Multiple Components)";
  
block extrascripts
  script(type = 'text/javascript').
    var form = !{JSON.stringify(form || {}, null, 4)}; 
  
  block workscripts
   script(src = '/pages/test_run_multiComponent.js')

block content
  .container-fluid
    div.vert-space-x2
      h2 Run Test (Multiple Components)
    
    div.vert-space-x1
      dl
        dt Test Type
        dd=form.formName
    
    div.vert-space-x1
      button.btn.btn-primary#add-an-entry Add Component to Test
    
    #uuidModalCenter.modal.fade(tabindex = '-1' role = 'dialog' aria-labelledby = 'uuidModalCenterTitle' aria-hidden = 'true')
      .modal-dialog.modal-dialog-centered(role = 'document')
        .modal-content
          .modal-header
            h5#uuidModalLongTitle.modal-title Add Component to Test
            button.close(type = 'button' data-dismiss = 'modal' aria-label = 'Close')
              span(aria-hidden = 'true') &times;
              
          .modal-body
            p Each test is performed on at least one component. Please enter the desired component's UUID below.
            
            p The input box uses auto-complete - just start typing a component UUID, and any matching options will be displayed.
              br
              | Alternatively, click on the camera icon (to the right of the box) to take a picture of the component's QR code if you have it available.
            
            #uuid-form

          .modal-footer
            button.btn.btn-danger(type = 'button' data-dismiss = 'modal') Close

    div.vert-space-x1
      hr
    
    div.vert-space-x1
      #testpanels
    
    template#form-panel-template
      .testform-panel.rounded.p-2
        .componentInfo
          h5.uuid &nbsp;
          h6.formId &nbsp;
          h6.name &nbsp;
          
        div.vert-space-x1.formbuilder_area
          .builtform

    div.vert-space-x2
