doctype html

head
  title Incorrect Permissions

body
  p <strong>You do not have permission to view this page or perform this action.</strong>

    if(!user)
      br 
      | Please first  
      a(href = '/login') login or sign up
      | .

    else
      p You are currently logged in as: 
        br
        .monospace #{user.displayName}
        .monospace #{user.user_id}

      p Your currently assigned roles are: 
        br
        .monospace
          +arrayFormat(user.roles)

      p These roles give you the following permissions: 
        br
        .monospace 
          +arrayFormat(user.permissions)

      p The following permissions are required in order to view this page or perform this action: 
        br        
        .monospace #{required_permission}
