extend default
include common.pug

block vars
  - const page_title = 'Users';

block extrascripts
  block workscripts
    script(src = '/pages/user_list.js')

block content
  .container-fluid
    .vert-space-x2
      h2 Users

    .vert-space-x1
      table.table#users_table
        thead
          tr
            th.col-md-3 Name
            th.col-md-3 Email
            th.col-md-3 User ID
            th.col-md-3 Roles

        tbody

    .vert-space-x2
