extend template_editTypeForm

block vars
  - const page_title = 'Edit Workflow Type Form';

block content_header
  p.h2 Edit Workflow Type Form

block metaschema
  script(src = '/pages/workflow_editTypeForm.js')
