.disable-animations,
.disable-animations * {
  -o-transition-property: none;
  -moz-transition-property: none;
  -webkit-transition-property: none;
  transition-property: none;

  -o-transform: none;
  -moz-transform: none;
  -webkit-transform: none;
  transform: none;

  -o-animation: none;
  -moz-animation: none;
  -webkit-animation: none;
  animation: none;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

#sidebar {
  flex: 1 0 160px;
  min-width: 160px;
  max-width: 160px;
  min-height: 100vh;
  font-size: 0.9em;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

#sidebar.inactive {
  margin-left: -160px;
}

#sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

#sidebar .nav-link.active {
  color: #000;
  font-weight: 800;
}

#sidebar .nav-link:hover i.fa,
#sidebar .nav-link.active i.fa {
  color: inherit;
}

#sidebar .sub-bar {
  font-size: 0.75em;
}

#sidebar i.fa {
  font-size: 0.75rem;
  margin-right: 3px;
  color: #999;
}

#content {
  flex: 999 1 0;
  min-width: 50%;
  padding-left: 5px;
  padding-right: 5px;
}

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
}

body {
  font-size: 0.875rem;
}

body.deployment-development #navbar-brand {
  background-color: #fff3cd;
  color: black;
}

body.deployment-staging #navbar-brand {
  background-color: #f8d7da;
  color: black;
}

body.deployment-production #navbar-brand {
  background-color: #d9f8d7;
  color: black;
}