/*This is for stuff relevant for the dashboard*/

body {
  font-size: .875rem;
}


@media print {

  #sidebar {
    display: none;
    width: 0px;
    max-height: 0px;
  }
  .wrapper {
    display: block;
  }
  h2#name {
    color: green;
  }
 

  input.form-control::-webkit-input-placeholder {
    opacity: 0;
  } 
  input.form-control::-moz-placeholder {
      opacity: 0;
  }
  input.form-control::-ms-placeholder {
      opacity: 0;
  }
  input.form-control::placeholder {
           color: transparent;
  }

}

.wrapper {
    display: flex;
    flex-wrap: wrap; /* For narrow screens*/
    align-items: stretch;
}

#sidebar {
    flex: 1 0 160px;
    min-width: 160px;
    max-width: 160px;
    min-height: 100vh;
    font-size: .9em;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    transition: all 0.3s;
}

.disable-animations, .disable-animations * {
  /* CSS transitions */
  -o-transition-property: none !important;
  -moz-transition-property: none !important;
  -webkit-transition-property: none !important;
  transition-property: none !important;
  /* CSS transforms */
  -o-transform: none !important;
  -moz-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
  /* CSS animations */
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  animation: none !important;
}

#sidebar.inactive {
    /*margin-left: -160px;*/
    /*display: none;*/
    margin-left: -160px;

}

#sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

#sidebar i.fa {
  font-size: .75rem;
  margin-right: 3px;
  color: #999;
}

#sidebar .nav-link.active {
  color: #000;
}

#sidebar .sub-bar {
  font-size: 0.75em;
}

#sidebar .nav-link:hover i.fa,
#sidebar .nav-link.active i.fa {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}


#content {
  flex: 999 1 0;
  min-width: 50%; /* wrap if we're too small*/
  padding-left: 5px;
  padding-right: 5px;
}


/* for small screens, flip this meaning, so it's invisible */

@media (max-width: 768px) {
  .wrapper {
    display: block;
  }
  #sidebar {
      min-width: auto;
      max-width: none;
      min-height: 0px;
      /*display: none;*/
  }
  #sidebar.inactive {
    margin-left: -1000px;
    height:0px;
  }

  .navbar span.pagename { display:none; }
}


#sidebar .nav-link {

  font-weight: 500;
  color: #333;
}

#sidebar i.fa {
  font-size: .75rem;
  margin-right: 3px;
  color: #999;
}

#sidebar .nav-link.active {
  font-weight: 800;
}

#sidebar .sub-bar {
  font-size: 0.75em;
}

#sidebar .nav-link:hover i.fa,
#sidebar .nav-link.active i.fa {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */
#content {
    /* padding-top: 48px;  Space for fixed navbar */
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

body.deployment-development .navbar-brand img {
  filter: invert(100%);
}
body.deployment-staging .navbar-brand img {
  filter: invert(100%);
}


.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


/* Major styling for different deployments */
body.deployment-development #navbar-brand
{
  background-color: #fff3cd !important;
  color: black;
}


body.deployment-staging #navbar-brand
{
  background-color: #f8d7da !important;
  color: black;
}
