extend default

include common.pug

block vars
  - var page_title="sietch admin";

block content

    .row
        .col-md-6
            .border.rounded.m-3
                h2 Components


                p.border.border-secondary.p-3.m-2
                        a.h4(href='/NewComponent') Register new component

                .border.border-primary.p-3.m-2
                  p Find a component by UUID:
                    +uuid_autocomplete

                  h4 List of all components in DB right now:
                  +component-list(all_components)



                .border.border-danger.p-3.m-2
                        a.h4.componentform(href='/EditComponentForm') Edit the component information form


        .col-md-6
            .border.rounded.m-3
                h2 Tests

                .border.border-primary.p-3.m-2
                  h4 Run a test:
                  ul#tests
                    each form in tests
                      li
                        a(href='/test/'+form.form_id)="Run "+form.form_title

                .border.border-danger.p-3.m-2
                  p.h4
                    +NewTestForm

                  h4 Edit an existing test form:
                  ul#editTests
                  each form in tests
                    li
                        a(href='/EditTestForm/'+form.form_id)="Edit "+(form.form_title || form.form_id)

            .border.rounded.m-3
                h2 Workflows

                .border.border-primary.p-3.m-2
                  h4 Run a workflow:
                  ul#workflows
                    each workflow in workflows
                      li
                        a(href='/job/'+workflow.form_id)="Run "+(workflow.form_title||workflow.form_id)

                .border.border-danger.p-3.m-2
                  p.h4
                    +NewWorkflowForm

                  h4 Edit an existing workflow:
                  ul#editJobs
                  each workflow in workflows
                    li
                        a(href='/EditWorkflowForm/'+workflow.form_id)="Edit "+(workflow.form_title||workflow.form_id)


    .row.border-top.my-3

    .row
        .col-md-6
            .border.rounded.m-3
                h2 Proposal and notes
                p
                    a(href='Proposal notes.pdf') Proposal Notes
                p
                    a(href='notes.md') Working notes
        .col-md-6
            .border.rounded.m-3
                h2 Major features required: 
                ul
                        li User authentication - Plug into Fermilab SSO
                        li User permission management (view data / submit data / edit data / edit forms)
                        li Workflow for many of the same test
                        li Documentation
                        li Search for component
                        li Sort tests by component type (?)


