extend default

include common.pug

block vars
  - var page_title="sietch admin";

block content

    h4 Admin Only:

    p
        a.componentform(href='/EditComponentForm') Edit the component information form

    p
        a.newform(href='/EditTestForm') New Test Form

    p Edit test forms:

        ul#tests
              each test in tests
                li
                  a(href='/EditTestForm/'+test.form_id)=test.form_title

    h4 Users with data entry permission:

    p
        a(href='/NewComponent') Register new component
    

    h2 Anyone
    p
        a(href='#') Search for component (unimplimented)
    p 
        a(href='#') Show all tests of type (unimplimented)

    h2 List of all components in database
    +component-list(all_components)

    h2 Major features required: 
        ul
            li User authentication - Plug into Fermilab SSO
            li User permission management (view data / submit data / edit data / edit forms)
            li Workflow for many of the same test
            li Documentation
            li Search for component
            li Sort tests by component type (?)


