extend default


block vars
  - var page_title=formId;

block extrascripts

  // Script: create a one-entry form.
  // On change, validate it to see if it's a good UUID. If so, 
  // create the URL and jump to it.
  script(type='text/javascript').
    $(async function(){
      // I could do this by API query of the server, but this works for now.
      var schema={
          "components": [
            {
              "label": "Component UUID",
              "spellcheck": false,
              "tableView": false,
              "key": "componentUuid",
              "type": "ComponentUUID",
              "autofocus": true, // make this the initial focus
              "input": true,
              "validate": {
                 "required": true
              },
            },
          ]}

      form = await Formio.createForm(
              document.getElementById('builtform'),
              schema,
              );
      form.on("change",function(){
        if(form.isValid()) {
          var uuid = form.submission.data.componentUuid;
          if(uuid && uuid.length>10){
            window.location.assign(`/${uuid}`)
          }
        }
      });

    });


block content
  p This form has auto-complete - just start typing a component UUID to get started,
  or click on the camera icon to take a picture of the QR code.

  #builtform
  

  // .container
  //   .row 
  //       p Every test must be performed on a registered component.  Enter the component UUID below OR use your webcam to scan the QR code.
  //   .row
  //     .col-md-6.p-4
  //       p Enter UUID manually:
  //       select.form-control.component-uuid-autocomplete.go-test-uuid.md-8(autocomplete="off" placeholder='type to search...')
  //     .col-md-6.p-4
  //       .md-4
  //         canvas.p-4#canvas(hidden)
  //         video#video(hidden)
  //         #loadingMessage 🎥 Unable to access video stream (please make sure you have a webcam enabled)</div>

  //         #outputMessage No QR code detected

