extend default

include common.pug

block vars
  - var page_title="Component Types";

block content
  h1 Component Types

  ul
    each ob in types
      if(ob.type && ob.type!="null")
        li
          a(href='/components/type/'+encodeURIComponent(ob.type)) #{ob.type} (#{ob.count})


