

mixin evaluated-course(course)
    h3=course.name
    table
      body
        each step of course.evaluation
          tr
            td
              icon.small-icon(src=(step.meta||{}).icon)
            td
              = step.type
            td
              = (step.meta||{}).name || step.formId
            td
              if step.result.length>0
                i.fa.fa-check.text-success
              else
                i.fa.fa-times.text-danger
            if step.type == "component"
              td
                if step.result.length>0                  
                  a(href='/'+componentUuid).btn.btn-success View
                else
                  a(href='/'+componentUuid+"/edit").btn.btn--outline-danger
                    img.small-icon(src='/images/edit_icon.svg')
                    |  &nbsp; Create


            if step.type == "test"
              td
                if step.result.length>0

                  for test,index in step.result
                    a(href='/test/'+test._id).btn.btn-success=moment(test.insertion.insertDate).format("MMM D YY")
                    | &nbsp;

                  a(href='/'+componentUuid+"/test/"+step.formId).btn.btn-outline-success
                        img.small-icon(src='/images/edit_icon.svg')
                        | &nbsp; Run again 
                else
                  a(href='/'+componentUuid+"/test/"+step.formId).btn.btn-outline-danger
                        img.small-icon(src='/images/edit_icon.svg')
                        | &nbsp; Run

            if step.type == "job"
              td
                if step.result.length>0

                  for job,index in step.result
                    a(href='/job/'+job.jobId).btn.btn-outline-success=moment(job.insertion.insertDate).format("MMM D YY")
                    | &nbsp;

                  a(href='/job/'+step.formId).btn.btn-outline-success
                        img.small-icon(src='/images/edit_icon.svg')
                        | &nbsp; Run again
                else
                  a(href='/job/'+step.formId).btn.btn-outline-danger
                        img.small-icon(src='/images/edit_icon.svg')
                        | &nbsp; Run
            td !{step.advice}
    // pre
    //   =JSON.stringify(course,null,2)

 


