doctype html
head

    block pugscripts
      
    block vars
      
    title #{page_title || 'Sietch'}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    //- link(rel='stylesheet' href='/bootstrap/css/bootstrap.min.css')
    link(rel='icon' type='image/png' href='/images/browser_icon.png')

    link(rel='stylesheet' href='/css/dashboard.css')
    link(rel='stylesheet' href='/css/custom.scss')
    link(rel='stylesheet' href='/dist/formiojs/formio.full.min.css')
    link(rel='stylesheet', href='/css/main.css', type='text/css', media='all')
    link(rel='stylesheet', href='/css/AnnotationCanvas.css', type='text/css', media='all')
    link(rel='stylesheet' href='/css/qr.css')
    link(href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet")

    // jquery early, since it's used in lots of scripts, possibly defined in body
    script(src='/dist/jquery/jquery.min.js')
 
mixin navlink
  if(attributes.href == route)
    a.nav-link.active&attributes(attributes)
      block
  else
    a.nav-link&attributes(attributes)
      block

block layoutDefinitions
  
body(class="deployment-"+deployment)
  block allbody
    block navbar
      nav.navbar.navbar-dark.bg-dark.flex-nowrap.p-0.shadow
        button#sidebarCollapse.btn-btn-info(type="button")
          i.fa.fa-align-left
          //- span sidebar

        a.navbar-brand.col-sm-3.col-md-2.mr-0.align-middle#navbar-brand(href='/') 
          if(deployment=='laptop')
            | Laptop
          else if(deployment=='devsite')
            | SietchDev
          else 
            | Sietch            
          div.pull-right(style="height:2em;display:inline-block")
            img(src="/images/noun_cave_1842206.svg",style="height:100%; width:auto;")
        input.form-control.form-control-dark#navbar-search(type='search' placeholder='Search...' aria-label='Search')
        if locals.user
          .navbar-nav.px-3
            .nav-item.text-nowrap
              +navlink(href="/user") Profile
          .navbar-nav.px-3
            .nav-item.text-nowrap
              +navlink(href="/logout") Log Out
        else
          .navbar-nav.px-3
              .nav-item.text-nowrap
                +navlink(href="/login") Log In / Sign Up

    .wrapper
      //- To turn off the sidebar, use {sidebar:inactive} passed to pug.
      //- or use:
      //- block layoutDefinitions
      //  - sidebar="inactive"

      block sidebar
        nav#sidebar.bg-light(class=sidebar)  

            ul.nav.flex-column

              li.nav-item
                +navlink(href='/components/type')
                  i.fa.fa-puzzle-piece("aria-hidden"="true")
                  | Components

                ul.nav.flex-column.ml-3.sub-bar
                    li.nav-item
                      +navlink(href='/components/recent')
                        |      Recent
                    li.nav-item
                      +navlink(href='/components/searchUuid')
                        |      Find UUID

                //- ul.nav.flex-column.ml-3.sub-bar
                //-     if(user && user.permissions.includes("components:create"))
                //-       li.nav-item
                //-         +navlink(href='/NewComponent')
                //-           |      Register new
                //-     if(user && user.permissions.includes("forms:edit"))
                //-       li.nav-item
                //-         +navlink(href='/EditComponentForm')
                //-           |      Edit form


              li.nav-item
                +navlink(href='/testForms')
                  i.fa.fa-flask("aria-hidden"="true")
                  | Tests

                ul.nav.flex-column.ml-3.sub-bar
                    li.nav-item
                      +navlink(href='/tests')
                        |      Recent
         


              li.nav-item
                +navlink(href='/workflows')
                  i.fa.fa-list-ol("aria-hidden"="true")
                  | Workflows
               
                ul.nav.flex-column.ml-3.sub-bar
                    li.nav-item
                      +navlink(href='/jobs')
                        |      Recent
         
              li.nav-item
                +navlink(href='/courses')
                  i.fa.fa-graduation-cap("aria-hidden"="true")
                  | Courses


              li.nav-item
                +navlink(href='/drafts')
                  i.fa.fa-pencil("aria-hidden"="true")
                  | My Drafts

              li.nav-item
                +navlink(href='/search')
                  i.fa.fa-search("aria-hidden"="true")
                  | Advanced Search


            h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
              span Documentation
              //- a.d-flex.align-items-center.text-muted(href='#')
              //-   span(data-feather='plus-circle')
            ul.nav.flex-column.mb-2
              li.nav-item
                +navlink(href='/docs/') All Documentation
              li.nav-item
                +navlink(href='/docs/README.md') README
                +navlink(href='/docs/notes.md') Working notes and To-Do list 

      #content
            block content 


//
// Bootstrap core JavaScript
// ==================================================
// Placed at the end of the document so the pages load faster


script(src="/page.js/dashboard.js").
      function executeASearch(term) {
        //- console.log("Execute a Search:",term);
        window.location.href = `/search?`+JsonURL.stringify({search:term});
      };

      $(function(){
        $("#navbar-search")
        .on('change',function(){
          executeASearch($(this).val());
        })
        .on('keyup',function(){
          if (event.key === "Enter") executeASearch($(this).val());
        });


        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggle();
        });

        $(document).on('click', '[data-toggle="lightbox"]', function(event) {event.preventDefault();$(this).ekkoLightbox({alwaysShowClose: true});});

      });



script(src='/dist/bootstrap/js/bootstrap.bundle.min.js')
script(src="/dist/bootstrap-autocomplete/latest/bootstrap-autocomplete.min.js")
script(src='/dist/formiojs/formio.full.js')
script.
  Formio.setBaseUrl("!{base_url}");
script(src="/dist/short-uuid/short-uuid.min.js")
script(src='/dist/deepmerge/umd.js')
script(src='/dist/moment/moment.min.js')
script(src='/dist/ekko-lightbox/ekko-lightbox.min.js')
 
//- QR codes, FIXME replace with an npm package?
script(src='/dist/jsqr/jsQR.js') 
script(src="/ext/qrcodegen.js")

script(src='/js/jsonpath.min.js')
script(src='/dist/fabric/fabric.min.js')
script(src='/dist/fabric-history/index.min.js')
script(type='text/javascript',src='/dist/jsonurl/jsonurl.min.js')

script(type="text/javascript", src="/ext/qrcodegen.js")
script(type="text/javascript", src="/js/generate_qr_code.js")
script(type="text/javascript", src="/dist/short-uuid/short-uuid.min.js")
script(src='/components/ComponentGeoTag.js')
script(src='/components/QR_Component.js')
script(src='/components/ComponentUUID_Component.js')
script(src='/components/TestId.js')
script(src='/components/ComponentWorkStep.js')
script(src='/components/ComponentArray.js')
script(src='/components/ComponentSpecNumber.js')
script(src='/components/Components_misc.js')
script(src='/components/DatabaseImage.js')
script(src='/components/DatabaseFile.js')

script(src='/js/AnnotationCanvas.js')
script(src='/components/ImageAnnotator.js')
script(src='/components/AnnotatedImage.js')
script(src='/components/BetterDataGrid.js')


script(src='/js/uuid_autocomplete.js')
script(src='/js/ABoundObject.js')
script(src='/js/Pad.js')
script(src='/js/Histogram.js')
script(src='/js/HistCanvas.js')
script(src='/js/ColorScale.js')


style.
  li.nav-item img { height: 40px;}

block extrascripts    
