doctype html
html
  head

    block vars
    title #{page_title || 'Otternet'}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    link(rel='stylesheet' href='/bootstrap/css/bootstrap.min.css')

    link(rel='stylesheet' href='/formio.js/formio.full.min.css')
    script(src='/jquery/jquery.min.js')

    
    script(src='/bootstrap/js/bootstrap.min.js')
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    script(src='/formio.js/formio.full.min.js')

    link(rel='icon' type='image/png' href='images/Otterbein.png')
    // Main CSS sheet for basic layout, custom mods.

    script(type="text/javascript", src="/ext/qrcodegen.js")
    script(type="text/javascript", src="/short-uuid.min.js")
    script(type="text/javascript", src="/js/generate_qr_code.js")
    script(src='/js/geotag_component.js')



    link(rel='stylesheet', href='/css/main.css', type='text/css', media='all')

    block extrascripts      


  body
    .header

      block navbar
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
          a.navbar-brand(href='#') Sietch.xyz
          button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
              li.nav-item
                a.nav-link(href='/')  Home 
              li.nav-item
                a.nav-link(href='/NewComponent') Register new component
                //-   li.nav-item.dropdown
                //-     a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                //-       | Dropdown
                //-     .dropdown-menu(aria-labelledby='navbarDropdown')
                //-       a.dropdown-item(href='#') Action
                //-       a.dropdown-item(href='#') Another action
                //-       .dropdown-divider
                //-       a.dropdown-item(href='#') Something else here
            span.nav.navbar-nav.navbar-right
                a.nav-link.disabled(href='#') Prototype APA assembly/QA/inventory database
            //- form.form-inline.my-2.my-lg-0
            //-   input.form-control.mr-sm-2(type='search' placeholder='Search' aria-label='Search')
            //-   button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search

      div(style='clear:both;')


      block role
 
    .main-content.container-fluid
      block content 

          

      

    block footer   