extend default

include common

block vars
  - page_title="New Component Contact Sheet";

block extrascripts
    script(src='/dist/easymde/easymde.min.js')
    link(rel='stylesheet' href='/dist/easymde/easymde.min.css')
    <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">

    style.
      #wrapper { 
        display: flex;
        flex-direction:column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
      }
      #markdownarea {
        flex: 1 1 auto;
        min-height: 50px;
      }
      button.save {
        margin: 10px;
      }


    script(src='/page.js/docEdit.js')
 
block content
    div.container#wrapper
      div.top
        p#docId
        button.button.btn-primary.float-right.save Save
        div Last edited: 
          span#last_edited
        div Version:
          span#version
      div#markdownarea
        textarea#markdowneditor Retrieving...
      div.bottom
        span.error
        button.button.btn-primary.float-right.save Save
