extend default

block extrascripts

  script(type='text/javascript').
    var record=!{JSON.stringify(rec, null ,4)};
    


  script(type='text/javascript').
    function onBuild() {
      var schema_element = document.getElementById('schema');
      schema_element.innerHTML='';
      schema_element.appendChild(document.createTextNode(JSON.stringify(builder.instance.schema,null,2)));
      $('input#commit-schema').val(JSON.stringify(builder.instance.schema));
    }
    window.onload = function() {
      console.log("schema",record.schema)
      builder = new Formio.FormBuilder(document.getElementById('builder'),record.schema||{});
      $('input#commit-schema').val(JSON.stringify(schema));
      builder.instance.ready.then(function(){
        builder.instance.on('saveComponent',onBuild);
        builder.instance.on('editComponent',onBuild);
      });

      // validate on client side.
    };

block content
  h2=form_id
  form(method="post")
    h2 Component Form
    h2 hi

    div(style="margin:20px; border: 2px solid red; ")
        #builder

    input#commit-schema(type='hidden', name='schema', value=((rec||{}).schema)||{})
    input#commit.btn.btn-lg.btn-success(type="submit" href="#",role="button" value='Commit Form')




  
  pre#schema=JSON.stringify(rec.schema||{},null,4)