extend default

include common.pug
include course-mixin.pug

block vars
  - var page_title=evalCourse.name;

block content
  h1 #{evalCourse.name} 
  +evaluated-course(evalCourse)

  div 
    a(href='/traveller/'+componentUuid.toString()).float-right Click here to print the traveller

