extend default

include common.pug

block vars
  - var page_title="Sietch Dashboard";

block content

    p Welcome to Sietch

    p This is desgined as the APA production QA/QC/Hardware database.

    p The menus on the left are used for finding components, tests done on components, or jobs done via workflows.


