extend default

include common.pug

block vars
  - var page_title="Sietch Dashboard";

block content
  if deployment == "laptop"
    .alert.alert-warning
      p This is Sietch running on your laptop. 
      p Hi, and welcome to the production team!  Great to have you!
      p --Nathaniel ntagg@otterbein.edu

  if deployment == "devsite"
    .alert.alert-danger
      p This is the Sietch development site

      p All users have complete access to everything.

      p Feel free to create component types, components, forms, and workflows freely.

      p If you create any content on here you wish moved to the production site,
        | talk to Nathaniel.  Otherwise, this is a free playground.

    a(href='https://sietch.xyz') Production site link

  if deployment == "production"
    p.alert.alert-success This is the Sietch production APA database.
    p If you want a playground to try things out, use the 
      a(href="https:/dev.sietch.xyz") development site
      | .


