extend default


block vars
  - var page_title=formId;

block extrascripts
  script(type='text/javascript',src='/jsQR.js')


  script(type='text/javascript').


    $(function(){
      $('.component-uuid-autocomplete.go-test-uuid').on('autocomplete.select', function (evt, item) {
        console.log("selected go to",item)
        window.location.href = "/"+item.val+"/test/!{formId}";
      });



    // see the jsqr demo
    var video = document.getElementById("video");
    var canvasElement = document.getElementById("canvas");
    var canvas = canvasElement.getContext("2d");
    var loadingMessage = document.getElementById("loadingMessage");
    var outputMessage = document.getElementById("outputMessage");
    var outputData = document.getElementById("outputData");
    //- var ctx = canvas.getContext('2d');

    function drawLine(begin, end, color) {
      canvas.beginPath();
      canvas.moveTo(begin.x, begin.y);
      canvas.lineTo(end.x, end.y);
      canvas.lineWidth = 4;
      canvas.strokeStyle = color;
      canvas.stroke();
    }

    // Use facingMode: environment to attemt to get the front camera on phones
    navigator.mediaDevices.getUserMedia({ video: { facingMode: "environment" } }).then(function(stream) {
      video.srcObject = stream;
      video.setAttribute("playsinline", true); // required to tell iOS safari we don't want fullscreen
      video.play();
      requestAnimationFrame(tick);
    });
    var running = true;

    function tick() {
      loadingMessage.innerText = "⌛ Loading video..."
      if (video.readyState === video.HAVE_ENOUGH_DATA) {
        loadingMessage.hidden = true;
        canvasElement.hidden = false;

        canvasElement.height = video.videoHeight;
        canvasElement.width = video.videoWidth;
        canvas.drawImage(video, 0, 0, canvasElement.width, canvasElement.height);
        var imageData = canvas.getImageData(0, 0, canvasElement.width, canvasElement.height);
        var code = jsQR(imageData.data, imageData.width, imageData.height, {
          inversionAttempts: "dontInvert",
        });
        if (code) {
          console.log("found QR code",code)
          drawLine(code.location.topLeftCorner, code.location.topRightCorner, "#FF3B58");
          drawLine(code.location.topRightCorner, code.location.bottomRightCorner, "#FF3B58");
          drawLine(code.location.bottomRightCorner, code.location.bottomLeftCorner, "#FF3B58");
          drawLine(code.location.bottomLeftCorner, code.location.topLeftCorner, "#FF3B58");
          $('#outputMessage').text(code.data);
          var match = code.data.match(".*sietch.xyz/([A-Fa-f0-9]{8}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{12})");
          if(match) {
            uuid = match[1];
            $('#outputMessage').text(uuid);
            running = false;
            $.ajax({
              url: "/autocomplete/uuid?q="+uuid,
              dataType: "json",
              success: function(result){
                console.log("autocomplete success",result);
                if(result && result.length>0) {
                   console.log("jumping")
                   window.location.assign( "/"+uuid+"/test/!{formId}" );
                   return;
                } else{
                  $('#outputMessage').text("No match in DB for UUID "+uuid)
                  running = true;  
                  requestAnimationFrame(tick);}
              }
            });
          }
        } else {

        }
      }
      if(running) requestAnimationFrame(tick);
    }

    });


block content
  h2=formId
  h3=workflow.formName
  

  .container
    .row 
        p Every test must be performed on a registered component.  Enter the component UUID below OR use your webcam to scan the QR code.
    .row
      .col-md-6.p-4
        p Enter UUID manually:
        select.form-control.component-uuid-autocomplete.go-test-uuid.md-8(autocomplete="off" placeholder='type to search...')
      .col-md-6.p-4
        .md-4
          canvas.p-4#canvas(hidden)
          video#video(hidden)
          #loadingMessage 🎥 Unable to access video stream (please make sure you have a webcam enabled)</div>

          #outputMessage No QR code detected

