
extend default

include common

block vars
  - page_title="Label for "+(component.data.name||component.type||component.componentUuid);

block extrascripts
  link(rel='stylesheet' href='/css/qr.css')


block allbody
  div.noprint
    a(onclick="window.print(); return false;" href='#print') Print
    div.pull-right.switchToggle
      input#qr-error-safe(type="checkbox",checked="checked")
      label.label-primary(for='qr-error-safe')
  div(style='clear:both;')    
  
  .container
    .row.qr-row
      div.col-sm-6(style="border:1px solid #EEE")
        +qr-panel(base_url+'/'+component.componentUuid.toString(),component.data.name)
      div.col-sm-6(style="border:1px solid #EEE")
        +qr-panel(base_url+'/'+component.componentUuid.toString(),component.data.name)
    .row.qr-row
      div.col-sm-6(style="border:1px solid #EEE")
        +qr-panel(base_url+'/'+component.componentUuid.toString(),component.data.name)
      div.col-sm-6(style="border:1px solid #EEE")
        +qr-panel(base_url+'/'+component.componentUuid.toString(),component.data.name)
    .row.qr-row
      div.col-sm-6(style="border:1px solid #EEE")
        +qr-panel(base_url+'/'+component.componentUuid.toString(),component.data.name)
      div.col-sm-6(style="border:1px solid #EEE")
        +qr-panel(base_url+'/'+component.componentUuid.toString(),component.data.name)


    

    //- div(style='width:1001px;display:flex;')
    //-   div(style="width:500px;border:1px solid black;")
    //-     +qr-panel(base_url+'/'+component.componentUuid.toString(),component.data.name)
    //-   div(style="width:500px;border:1px solid black;")
    //-     +qr-panel(base_url+'/'+component.componentUuid.toString(),component.data.name)

    //- div(style='width:1001px;display:flex;')
    //-   div(style="width:500px;border:1px solid black;")
    //-     +qr-panel(base_url+'/'+component.componentUuid.toString(),component.data.name)
    //-   div(style="width:500px;border:1px solid black;")
    //-     +qr-panel(base_url+'/'+component.componentUuid.toString(),component.data.name)

    //- div(style='width:1001px;display:flex;')
    //-   div(style="width:500px;border:1px solid black;")
    //-     +qr-panel(base_url+'/'+component.componentUuid.toString(),component.data.name)
    //-   div(style="width:500px;border:1px solid black;")
    //-     +qr-panel(base_url+'/'+component.componentUuid.toString(),component.data.name)
    // .row
    //   div.col-sm-6.qr-code
    //     +qr-panel(base_url+'/'+component.componentUuid.toString(),component.data.name)
    //   div.col-sm-6.qr-code
    //     +qr-panel(base_url+'/'+component.componentUuid.toString(),component.data.name)

    // .row
    //   div.col-sm-6.qr-code
    //     canvas.qr-code(data-QR-text=base_url+'/'+component.componentUuid.toString(),data-QR-desc=component.data.name)      
    //   div.col-sm-6.qr-code
    //     canvas.qr-code(data-QR-text=base_url+'/'+component.componentUuid.toString(),data-QR-desc=component.data.name)      
