extend default
include common.pug

      
block content
  h2 Workflows

  table.table-sm.table-hover
    tbody
      each formName,formId in forms
        tr
          td=(formName || formId)
          if(permissions.userHas(user,"jobs:submit"))
            td
              a(href='/job/'+formId).btn.btn-outline-primary Run
          if(permissions.userHas(user,"jobs:view"))
            td
              a(href='/jobs/'+formId).btn.btn-outline-secondary Recent
          if(permissions.userHas(user,"forms:edit"))
            td
              a(href='/EditWorkflowForm/'+formId).btn.btn-outline-warning Edit

  if(permissions.userHas(user,"forms:edit"))
    p.h5.mt-4
     +NewWorkflowForm
