extend default
include common.pug

      
block content
  h2 Tests

  table.table-sm.table-hover
    tbody
      each formId in Object.keys(forms).sort()
        -var info = forms[formId];
        // hide trash:
        if(!info.tags || !info.tags.includes("Trash")) 
          tr
            td
              img.icon(src=info.icon)
            td=(info.formName || formId)
            if(permissions.userHas(user,"tests:submit"))
              td
                a(href='/test/'+formId).btn.btn-outline-primary Run
            if(permissions.userHas(user,"tests:view"))
              td
                a(href='/tests/'+formId).btn.btn-outline-secondary Recent
            if(permissions.userHas(user,"forms:edit"))
              td
                a(href='/EditTestForm/'+formId).btn.btn-outline-warning Edit


  if(permissions.userHas(user,"forms:edit"))
    p.h5.mt-4
     +NewTestForm

  if(permissions.userHas(user,"forms:edit"))
    h5 Trashed tests:
        table.table-sm.table-hover
          tbody
            each formId in Object.keys(forms).sort()
              -var info = forms[formId];
              // show only trash:
              if(info.tags && info.tags.includes("Trash")) 
                tr
                  td
                    img.icon(src=info.icon)
                  td=(info.formName || formId)
                  if(permissions.userHas(user,"tests:submit"))
                    td
                      a(href='/job/'+formId).btn.btn-outline-primary Run
                  if(permissions.userHas(user,"tests:view"))
                    td
                      a(href='/jobs/'+formId).btn.btn-outline-secondary Recent
                  if(permissions.userHas(user,"forms:edit"))
                    td
                      a(href='/EditTestForm/'+formId).btn.btn-outline-warning Edit
