extend default

include common.pug

block vars
  - var page_title="Permissions error";

block content

  p You do not have permission to perform this action.

  p Required permission: ${scope_required}
  p Your permissions: ${user_scopes.join(', ')}

