extend default

include common.pug

block vars
  - var page_title="Permissions error";

block content

  p You do not have permission to perform this action.

  p Required permission: 
    code #{required_permission}

  if(!user)
    p You must 
      |
      |
      a(href="/login") log in or sign up.
  else
    p Your roles: 
      code #{user.roles.join(', ')}
    p Your permissions: 
      code #{user.permissions.join(', ')}

