extend default
include common

block vars
  - var page_title="Promote yourself";

    

block content
  h1.h1 Success
  .container-fluid
    .row
      .col
        p You have successfully promoted yourself into the following roles:
        pre=roles.join('\n')

        p You must
          |
          |
          a(href='/logout') log out
          | 
          | and back in to use your new access.


