
extend default


//- block navbar
//-   a(onclick="window.print(); return false;" href='#print') Print

//- block sidebar


block vars
   // -page_title=Label !{component.name};

block extrascripts
  script.
     
      $(function(){
        $('canvas').each(function(){
          DrawQRCode($(this),$(this).data("text"),$(this).data("desc"));
        });
      });
      
  style(type='text/css').
    div.qr-code {
      //- background-color: green;
      border: 2px solid black;
    }
    div.qr-code canvas {
      border: 8px solid green;
      border-radius: 8px;
      width:100%;
      height:auto
    }
    article {
     column-width: 16em;
     column-gap: 1em;
    }

block allbody
  a(onclick="window.print(); return false;" href='#print') Print
    .container
      -for(var i=0;i<components.length;i+=2) {
        .row
          -for(var j=i; j<i+2; j++) {
            if(components[j])
              div.col-sm-6.qr-code
                canvas(height="700",width="700",data-text=base_url+"/"+components[j].componentUuid.toString(),data-desc=components[j].type+' '+components[j].name)
          -}
      
      -}
