doctype html

head
  title Sietch
  link(rel = "preconnect" href = "https://fonts.gstatic.com")
  link(href = "https://fonts.googleapis.com/css2?family=Inconsolata&family=Palanquin&display=swap", rel = "stylesheet")
  link(rel = 'stylesheet' href = '/dist/formiojs/formio.full.min.css')
  script(src = '/dist/jquery/jquery.min.js')
  script(src = '/dist/bootstrap/js/bootstrap.min.js')
  link(rel = 'stylesheet' href = '/dist/bootstrap/css/bootstrap.min.css')
  link(rel = 'stylesheet' href = '/css/splashscreen.css')

#d1
    img#i(src = '/images/splash.jpg')
#d2
    h2 &nbsp;
    h1 
        img(src = "/images/noun_cave_1842206_black.svg", style = "height: 1em; width: auto; fill: black;") 
        | Sietch
    h2 The APA Construction Database
    a(href = '/login').btn.btn-primary Login or Sign Up

