extend default


block vars
  - var page_title=form_id;
  - console.log('data in pug:',data)
block extrascripts
  script(type='text/javascript').
    // I could do this by API query of the server, but this works for now.
    var formrec=!{JSON.stringify(form||{}, null ,4)}; 
    var testdata=!{JSON.stringify((testdata||{}), null ,4)}; 
    var retrieved=!{retrieved||false};

  script(type='text/javascript').

    var form = null;

    function SubmitData(submission) {
      // actually the 'submit' function
      console.log("submitting data",submission, JSON.stringify(submission));
      function postSuccess(retval) {
          if((retval.error)) form.setAlert("warning",retval.error);
          console.log(retval);
          form.emit('submitDone', retval.submission);
           console.log("success retval",retval);
      }
      function postFail(res,statusCode,statusMsg){
          // On failure, add a failure message
          if(res.responseText && res.responseText.length>0) form.setAlert("danger",res.responseText);
          else                                              form.setAlert("danger",statusMsg + " ("+statusCode+")");
          //- alert("posting failed");
          console.log("posting fail",res,statusCode,statusMsg);

      };
      console.log(submission);
      $.ajax(
        { contentType: "application/json",
          method: "post",
          url: "/json/submit/"+formrec.form_id,
          data: JSON.stringify(submission),
          dataType: "json",
          success: postSuccess
        }
        ).fail(postFail);

    };

    window.onload = async function() {


      console.log("schema",formrec.schema);

      // Remove submit button if it's read-only
      if(retrieved)
        for(var i=0; i<formrec.schema.components.length; i++) {
          var c = formrec.schema.components[i];
          if(c.label=="Submit" && c.key=="submit") {
            formrec.schema.components.splice(i,1);
            break;
          }
        }

      form = await Formio.createForm(
                  document.getElementById('builtform'),
                  formrec.schema,
                  { readOnly: retrieved});
                  //- });
      //- form.url="https://nowhere.com";
      console.log(form);
      form.submission = {data: testdata.data};
      if(!retrieved) 
              form.on('submit',SubmitData);

    }

block content
  h2=form.form_title
  
  #builtform

