extend default


block vars
  - var page_title=form_id;

block extrascripts
  script(type='text/javascript').
    // I could do this by API query of the server, but this works for now.
    var formrec=!{JSON.stringify(form||{}, null ,4)}; 
    var submission=!{JSON.stringify(submission||{}, null ,4)}; 

  script(type='text/javascript').

    window.onload = async function() {
      var form = null;
      function SubmitData(submission) {
        // actually the 'submit' function
        console.log("submitting data",submission);
        var posting = $.post('/submit/'+formrec.form_id,submission);
        posting.done(function(retval) {
          // POST operation completed but..
          if((retval.error)) form.setAlert("warning",c.error);
          //- else form.setAlert(false);
          if(retval.submission) form.submission = {data: retval.submission};
          form.emit('submitDone', retval.submission);
          console.log("success retval",retval);

        });
        posting.fail(function(res,statusCode,statusMsg) {
          // On failure, add a failure message
          if(res.responseText && res.responseText.length>0) form.setAlert("danger",res.responseText);
          else                                              form.setAlert("danger",statusMsg + " ("+statusCode+")");
          //- alert("posting failed");
          console.log("posting fail",res,statusCode,statusMsg);
        });

      };

      console.log("schema",formrec.schema);

      form = await Formio.createForm(document.getElementById('builtform'),formrec.schema,
        {
          //- readOnly: #{canEdit?"false":"true"},
        });
      //- form.url="https://nowhere.com";
      form.submission = {data: submission};
      form.on('submit',SubmitData);

      

    }

block content
  h2=form_id

  .container
    .row
      #builtform

