extend default

include common.pug
include course-mixin.pug

block vars
  - var page_title="Users";

block extrascripts
  style.
    img.user_picture { min-height: 50px; min-width:10px; border: 1px solid black; }

  script.
    //- Must be in pug
    var user_id = "#{user_id}";
    var is_admin = #{permissions.userHas(user,"users:edit")};

  script(src="/page.js/user_edit.js")

block content

  h1.user_name &lt;loading&gt;

  .container
    .row
      .col-6
        #builtform
      .col
        img.avatar_image.border(src="")
        dl
          dt User ID
          dd.user_user_id ...
          dt Created
          dd.user_created_at ...
          dt Last Updated
          dd.user_updated_at ...
          dt Last Login
          dd.user_last_login ...
          dt Last IP
          dd.user_last_ip ...
          dt Logins Count
          dd.user_logins_count ...
          dt Email Verified
          dd.user_email_verified ...
          dt Metadata
          dd
            pre.user_user_metadata ...

        h3 Permissions granted by these roles:
        pre.user_permissions
