head
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  link(rel='stylesheet' href='/bootstrap/css/bootstrap.min.css')
  
  script(src='/jquery/jquery.min.js')
  script(src='/bootstrap/js/bootstrap.min.js')
  link(rel='stylesheet' href='/formio.js/formio.full.min.css')
  <!-- link(rel='stylesheet' href='/formio.js/formio.builder.min.css') -->
  script(src='/formio.js/formio.full.min.js')

  script(type='text/javascript').
    var schema=!{JSON.stringify(schema||{})};
    var submission=!{JSON.stringify(submission||{})};
  

  script(type='text/javascript').

    window.onload = async function() {
      console.log("schema",schema)

      function beforeSubmit(submission, next) {
        // actually the 'submit' function
        console.log(submission);
        var posting = $.post('/submit/#{form_id}',submission);
        posting.done(function(a,b,c) {
          // POST operation completed but..
          console.log(a,b,c);
          next();
        });
        posting.fail(function(a,b,c) {
          // On failure, add a failure message
          next( [{message: "Failed to post  - "+c+' - '+a.status}] );

          //- alert("posting failed");
          console.log("posting fail",a,b,c)
        });

      };

      form = await Formio.createForm(document.getElementById('builtform'),schema,{hooks:{beforeSubmit:beforeSubmit}});
      form.submission = {data: submission};
      form.nosubmit = true;
      

      }
body
  h2=form_id

  #builtform

