extend default


block vars
  - var page_title=formId;

block extrascripts
  script(type='text/javascript').
    window.onload = async function() {
      console.log("schema",schema)

      function beforeSubmit(submission, next) {
        // actually the 'submit' function
        console.log(submission);
        var posting = $.post('/submit/#{formId}',submission);
        posting.done(function(a,b,c) {
          // POST operation completed but..
          console.log(a,b,c);
          next();
        });
        posting.fail(function(a,b,c) {
          // On failure, add a failure message
          next( [{message: "Failed to post  - "+c+' - '+a.status}] );

          //- alert("posting failed");
          console.log("posting fail",a,b,c)
        });

      };

      form = await Formio.createForm(document.getElementById('builtform'),schema,{hooks:{beforeSubmit:beforeSubmit}});
      form.submission = {data: submission};
      form.nosubmit = true;
      

      }
      
block content
  h2=formId

  #builtform

